.addtoany_list > a {padding-bottom: 10px;}
.about-us-wrapper .aboutus-modal .right-img img {
    width: 160px !important;
    height: 160px !important;
}

.img-placeholder {
    top: 153rem !important
}
.testimonials .blog-card .photo img {
    height: auto !important;
}