.about-us-wrapper {

	.brd-0 {
		border: none;
	}

	.athena-btn {
		 border-radius: 30px;
	      border: solid 2px white;
	      color: white;
	      padding: 10px 30px;
	      cursor: pointer;
	      outline: none;
	      background: none;

	     &.violet-btn{
			border-color: $voilet;
			border-radius: 20px;
			color: $voilet;
		}

		&.white-btn {
			border-color: $primaryWhite;
			border-radius: 20px;
			color: $primaryWhite;
			background-color: transparent;
		}
	}

	.list-group-item {
		
	}

	.list-item-none {
		list-style: none;
	}

	/*.item blockquote p:before{
		content: "\f10d";
	    font-family: 'Fontawesome';
	    float: left;
	    margin-right: 10px;
	}*/

	.about-accord {
		.card-header {
			background-color: transparent;
		}
	}

	.sidebar {
		.list-group-item {
			padding: 1rem 1.25rem;

			a {
				color: $primaryColor;
				text-decoration: none;
				padding: 18px 0;

				&.is-active {
					color: $purpleColor;
					background-color: transparent;

					&::after {
						content: "";
					    display: block;
					    border-bottom: 2px solid $purpleColor;
					    width: 25%;
					    position: relative;
					    bottom: -7px;
					}
				}				

				&:hover {
					color: $purpleColor;
				}
			}
		}		
	}

	.quotes {		 
		font-weight: 700;
	    text-align: center;
	    font-size: 2vw;

	    &-left {
	    	position: relative;
		    top: 8px;
		    line-height: unset;
		    left: 2px;
	    }
	}
}

.z-999 {
	z-index: 999
}

.bg-blue {
	background-color: $blue;
	color: $primaryWhite;
}

.bg-skyblue {
	background-color: $skyblue;
	color: $secondaryColor;
}

.txt-blue {
	color: $blue;
}

.txt-secondaryColor {
	color: $primaryColor;
}

.text-secondaryColor {
	color: $primaryColor;
}