.course-team {
    background-color: #eff1fe;
    padding-top: 21px;
    padding-bottom: 53px;
    position: relative;
    overflow: hidden;

    @include atSize850 {
        padding-top: 68px;
        padding-bottom: 68px;
    }

    .wrapper {
        padding: 0;

        @include atSize480 {
            padding: 0 12px;
        }

        @include atSize1100 {
            padding: 0 4rem;
        }
    }

    h2 {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.33;
        letter-spacing: .2px;
        text-align: center;
        margin-bottom: 28px;

        @include atSize850 {
            font-size: 2rem;
            text-align: left;
            margin-bottom: 40px;
        }
    }

    .owl-stage-outer {
        margin-bottom: 15px;
    }

    .owl-nav {
        position: absolute;
        top: -85px;
        right: 0;
        display: none;

        @include atSize850 {
            display: block;
        }
    }

    button.owl-prev {
        background: url('images/coursepage/previous.svg') no-repeat !important;
        width: 50px !important;
        height: 27px !important;
        position: relative;
        top: 2px;
        margin-right: 36px !important;
        transition: width .2s ease-out;

        &:focus {
            outline: none;
        }

        &.disabled {
            width: 31px !important;
        }

        span {
            display: none;
        }
    }

    button.owl-next {
        background: url('images/coursepage/previous.svg') no-repeat !important;
        width: 50px !important;
        height: 27px !important;
        transform: rotate(180deg);
        transition: width .2s ease-out;

        &:focus {
            outline: none;
        }

        &.disabled {
            width: 31px !important;
        }

        span {
            display: none;
        }
    }

    .button {
        color: $titlePink;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        width: 213px;
        height: 50px;
        border: solid 2px $titlePink;
        border-radius: 25px;
        line-height: 46px;
        display: block;
        text-align: center;
        margin: 40px auto 0;
        display: none;
    }
}