.site-header {
    background-color: #fff;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.34);
    top: 0;

    .wrapper {
        display: flex;
        /*        height: $mainMenuHeight; */
        height: 4.36rem;
        align-items: center;
        position: relative;
        padding-top: 3px;
        max-width: 1140px;

        @include atSize850 {
            height: 4.36rem;
        }
    }

    &__logo {
        width: 95px;
        margin-right: 1rem;
        position: relative;
        z-index: 1003;

        img {
            width: 100%;
            display: inline-block;

            @include atSize850 {
                width: 146px;
                margin-right: 1.375rem;
            }
        }

        @include atSize700 {}

        @include atSize850 {
            width: auto;
            margin-right: 1.8rem;
            position: relative;
            top: -6px;
        }
    }

    .search-form {
        margin: 0 20px 0 30px;

        @media screen and (max-width:600px) {
            position: fixed;
            width: 100.5%;
            top: 0px;
            left: 0;
            background: #fff;
            height: 130px;
            z-index: 1001;
            margin: 0 -15px 0 0;
        }

        .search-courses {
            width: 36px;
            height: 30px;
            border-radius: 2px;
            background-image: linear-gradient(88deg, #ffc300 1%, #ffac00 99%, #ffd85e 99%);
            padding-top: 1px;
            display: inline-block;
            position: absolute;
            right: 2px;
            top: 2px;
            text-align: center;

            @media screen and (max-width:600px) {
                top: 76px;
                right: 15px;
            }

            img {
                width: 28px;
                height: 28px;
                opacity: 0.84;
                min-width: auto;
            }

            @include atSize424 {
                img {
                    display: inline-block;
                }
            }
        }

        input[type="text"] {
            border: 0px;
            width: 100%;
            min-width: 275px;
            max-width: 570px;
            height: 34px;
            padding: 0 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px 0 RGBA(0, 0, 0, 0.11), 0 0 4px 0 RGBA(0, 0, 0, 0.14);
            background-color: #ffffff;
            position: relative;
            top: 0px;

            @media screen and (max-width:600px) {
                top: 10px;
                margin: 13px;
            }
        }

        i {
            margin-left: 0px;
            border: 0px;
            background: none;
            background-color: $orange;
            color: black;
            padding: 10px;
            cursor: pointer;
        }
    }

    &__explore-btn {
        background-image: linear-gradient(89deg, #ff006e 0%,
                #ff4e9a 100%, #ffd85e 100%);
        display: inline-flex;
        border-radius: 5px;
        padding: 0 9px;
        height: 35px;
        justify-content: space-evenly;
        align-items: center;
        position: relative;

        &:hover {
            .exp-primary-menu {
                @include atSize1100 {
                    transform: scaleY(1);
                    opacity: 1;
                }
            }

            &::after {
                content: '';
                width: 140%;
                height: 70%;
                display: block;
                background-color: transparent;
                position: absolute;
                left: -10px;
                bottom: -20px;
                cursor: pointer;
            }

            i {
                @include atSize1100 {
                    transform: rotate(-135deg);
                    top: 17px;
                }

                &.show {
                    transform: rotate(-135deg);
                    top: 15px;

                    @include atSize1100 {
                        transform: rotate(45deg);
                    }
                }
            }
        }

        .btnLink {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;

            @include atSize1100 {
                display: none;
            }
        }

        >a {
            text-decoration: none;
            font-size: .875rem;
            font-weight: 700;
            color: #fff;
            width: 50px;
            height: 22px;
            display: inline-block;
            overflow: hidden;
            margin-right: 14px;
            margin-top: -2px;

            i {
                position: absolute;
                top: 12px;
                right: 10px;
                transition: transform .2s ease-out;

                @include atSize850 {
                    top: 15px;
                    right: 15px;
                }
            }

            @include atSize850 {
                width: 132px;
                margin-right: 9px;
                font-size: 1rem;
                margin-top: -4px;
                letter-spacing: .3px;
                overflow: visible;
            }
        }

        @include atSize850 {
            height: 40px;
            padding: 0 12px;
        }

        .close-btn {
            position: absolute;
            bottom: -53px;
            z-index: 110;
            transform: scale(1.4) rotate(45deg);
            right: -135px;
            opacity: 0;
            transition: opacity .2s ease-out;
            pointer-events: none;

            @include atSize480 {
                right: -205px;
            }

            @include atSize850 {
                right: -123px;
                bottom: -40px;
            }

            &.show {
                opacity: 1;
                pointer-events: all;
            }

            @include atSize1100 {
                display: none;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .exp-primary-menu {
            transform: scaleY(0);
            transform-origin: 0 0;
            opacity: 0;
            transition: transform .2s ease-out, opacity .2s ease-out;
            box-shadow: 0 2px 13px 0 #8c8c8c;
            position: absolute;
            background-color: #fff;
            top: 48px;
            left: -129px;
            z-index: 100;
            padding: 56px 0 18px;
            width: 360px;
            height: auto;
            box-sizing: border-box;

            &.show {
                transform: scaleY(1);
                opacity: 1;

                @include atSize1100 {
                    transform: scaleY(0);
                    opacity: 0;
                }
            }

            @include atSize480 {
                left: -60px;
            }

            @include atSize1100 {
                height: 467px;
                width: auto;
                left: 0;
                padding: 31px 0;
            }

            >li {
                max-height: 40px;
                width: 360px;
                box-sizing: border-box;
                font-size: .875rem;
                line-height: 40px;
                padding: 0 30px 0 11px;
                margin-bottom: 7px;
                letter-spacing: .2px;
                transition: max-height .2s ease-out;
                cursor: pointer;

                &.show {
                    max-height: 1000px;

                    @include atSize1100 {
                        max-height: auto;
                        height: 38px;
                    }
                }

                .secondary-arrow {
                    position: absolute;
                    right: 20px;
                    margin-top: 14px;
                    padding: 4px;
                    opacity: .4;
                    top: inherit;
                    transition: transform .2s ease-out;
                    pointer-events: none;

                    &.show {
                        transform: rotate(45deg);
                    }

                    @include atSize1100 {
                        display: none;
                    }
                }

                @include atSize1100 {
                    width: 279px;
                    height: 50px;
                    line-height: 50px;
                    max-height: none;
                    font-size: 1rem;
                    font-weight: bold;
                    font-style: italic;
                    margin-bottom: 0;
                    transition: background-color .2s ease-out;

                    &::after {
                        content: '';
                        border: solid black;
                        border-width: 0 2px 2px 0;
                        display: inline-block;
                        padding: 4px;
                        transform: rotate(-45deg);
                        opacity: .4;
                        position: absolute;
                        right: 18px;
                        margin-top: 20px;
                    }
                }

                >img {
                    width: 25px;
                    margin: -6px 13px 0 0;
                }

                &:hover {
                    background-color: #eff1fe;
                    cursor: pointer;

                    .exp-secondary-menu {
                        @include atSize1100 {
                            transform: scaleX(1);
                            opacity: 1;
                            left: 291px;
                        }
                    }
                }
            }
        }

        .exp-secondary-menu {
            transform: scaleY(0);
            opacity: 0;
            transform-origin: 0 0;
            transition: transform .2s ease-out, opacity .2s ease-out, left .2s ease-out;
            width: 360px;
            box-sizing: border-box;
            padding: 10px 90px 20px 19px;
            background-color: #eff1fe;
            margin-left: -11px;

            &.show {
                transform: scaleY(1);
                opacity: 1;

                @include atSize1100 {
                    opacity: 0;
                }
            }

            @include atSize1100 {
                transform: scaleX(0);
                position: absolute;
                left: 279px;
                top: 0;
                box-shadow: 0 2px 13px 0 #8c8c8c;
                width: 308px;
                height: 467px;
                background-color: #fff;
                margin-left: 0;
                padding: 31px 0 20px 0;
                height: auto;

                &::before {
                    content: '';
                    width: 16px;
                    height: 467px;
                    top: 0;
                    left: -16px;
                    position: absolute;
                    background-color: #fff;
                }
            }

            >li {
                font-weight: normal;
                font-style: normal;
                line-height: 1.57;
                margin-bottom: 5px;
                padding: 7px 0;
                max-height: 50px;
                transition: max-height .2s ease-out, color .2s ease-out;
                padding-left: 10px;

                &.show {
                    max-height: 900px;
                    color: $titlePink;
                }

                @include atSize1100 {
                    max-height: auto;
                    margin-bottom: 13px;
                }

                &:nth-last-of-type(1) {
                    margin-bottom: 0;
                    margin-top: 18px;

                    @include atSize1100 {
                        margin-top: 0;
                    }
                }

                &:hover {
                    @include atSize1100 {
                        color: $titlePink;
                    }

                    .exp-tertiary-menu {
                        @include atSize1100 {
                            transform: scaleX(1);
                            opacity: 1;
                        }
                    }

                    &::after {
                        content: '';
                        width: 100%;
                        height: 70px;
                        background-color: transparent;
                        display: block;
                        position: absolute;
                        left: 0;
                        margin-top: -50px;
                    }

                    li {
                        color: $primaryColor;
                    }
                }

                &.heading {
                    font-size: .875rem;
                    margin-bottom: 4px;
                    cursor: default;

                    @include atSize1100 {
                        font-size: 1.25rem;
                    }

                    &:hover {
                        color: inherit;
                        cursor: default;
                    }
                }

                >a {
                    font-weight: bold;
                    text-decoration: none;
                    color: $primaryColor;
                    font-size: 1rem;

                    @include atSize1100 {
                        font-size: .875rem;
                    }
                }
            }
        }

        .exp-tertiary-menu {
            transform: scaleY(0);
            opacity: 0;
            transform-origin: 0 0;
            transition: transform .2s ease-out, opacity .2s ease-out;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;

            &.show {
                transform: scaleY(1);
                opacity: 1;
            }

            @include atSize1100 {
                transform: scaleY(1);
                transform: scaleX(0);
                position: absolute;
                left: 308px;
                background-color: #fff;
                top: 0;
                height: 467px;
                width: 255px;
                box-shadow: 0 2px 13px 0 #8c8c8c;
                padding-top: 39px;

                &:before {
                    content: '';
                    height: 467px;
                    width: 16px;
                    position: absolute;
                    left: -16px;
                    background-color: #fff;
                    top: 0;
                }
            }

            li {
                margin-bottom: 11px;
                font-size: .9rem;
                cursor: default;
                color: $primaryColor;

                @include atSize1100 {
                    font-size: 1.25rem;
                }
            }

            a {
                background-color: #f3f3f3;
                color: $primaryColor;
                text-decoration: none;
                font-size: .75rem;
                width: 241px;
                height: 59px;
                display: flex;
                border-radius: 3px;
                line-height: normal;
                align-items: center;
                padding-left: 10px;
                padding-right: 5px;

                img {
                    width: 56px;
                    display: inline-block;
                    margin-right: 13px;
                }
            }
        }
    }

    &__menu-icon {
        width: 26px;
        height: 19px;
        position: absolute;
        right: 20px;
        z-index: 100;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 26px;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.5);
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }

        &__middle {
            position: absolute;
            top: 9px;
            left: 0;
            width: 26px;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.5);
            transition: all .3s ease-out;
        }

        &::after {
            content: "";
            position: absolute;
            top: 18px;
            left: 0;
            width: 26px;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.5);
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        &--close-x {
            &::before {
                transform: rotate(45deg);
            }

            .site-header__menu-icon__middle {
                opacity: 0;
                transform: scaleX(0);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }

        @include atSize700 {
            display: none;
        }
    }

    &__menu-content {
        opacity: 0;
        transform: scaleY(.5);
        transform-origin: 0 0;
        transition: all .3s ease-out;
        position: relative;
        z-index: 9;
        position: absolute;
        top: 63px;
        background-color: #fff;
        left: 0;
        width: 100%;
        box-shadow: 0 2px 13px 0 #8c8c8c;

        &--is-visible {
            opacity: 1;
            z-index: 9999;
            transform: scaleY(1);
        }

        @media screen and (max-width:700px) {
            display: none;
        }

        @include atSize700 {
            opacity: 1;
            z-index: 5;
            transform: scale(1);
            position: static;
            box-shadow: none;
            height: 100%;
            margin-top: -20px
        }

        @include atSize850 {
            margin-top: 0;
        }
    }
}

.primary-nav {
    >ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;

        >li {
            position: relative;
            border-bottom: .5px solid #ddd;

            .loginBtn {
                color: #ff0068;
                font-weight: bold;
            }

            .getStartedBtn {
                color: #fff;
                border-radius: 30px;

                @media screen and (max-width:800px) {
                    margin: 10px;
                    padding: 10px;
                }
            }

            &:nth-last-child(1) {
                border-bottom: none;
                font-weight: bold;
            }

            @include atSize700 {
                border-bottom: none;

                &:nth-last-child(1) {
                    position: relative;
                }
            }
        }

        .about {
            max-height: 60px;
            transition: max-height .2s ease-out;

            &.show {
                max-height: 1500px;
            }

            @include atSize700 {
                max-height: none;
            }

            i {
                width: 11px;
                height: 11px;
                position: relative;
                top: -3px;
                right: 0;
                opacity: .7;
                border-color: #979797;
                margin-left: 13px;
                transition: transform .2s ease-out, top .2s ease-out;
                transform-origin: center center;

                &.up {
                    transform: rotate(-135deg);
                    top: 2px;

                    @include atSize700 {
                        transform: rotate(45deg);
                        top: 9px;
                    }

                    @include atSize850 {
                        top: 17px;
                    }
                }

                @include atSize700 {
                    position: absolute;
                    top: 9px;
                    right: -8px;
                }

                @include atSize850 {
                    top: 17px;
                }
            }

            @include atSize700 {
                &:hover {
                    i {
                        transform: rotate(225deg);
                        top: 22px;
                    }

                    .secondary-nav {
                        transform: scaleY(1);
                        opacity: 1;
                    }
                }
            }
        }

        .secondary-nav {
            transform: scaleY(0);
            list-style: none;
            opacity: 0;
            padding: 0;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 2px 25px 2px #d5dbfb;
            padding-top: 6px;
            padding-bottom: 6px;
            transform-origin: 0 0;
            transition: transform .2s ease-out, opacity .2s ease-out;

            a {
                white-space: nowrap;
                font-size: .875rem;
                width: 100%;
                padding-left: 1.6rem;
                padding-right: 1.75rem;

                &:hover {
                    color: $titlePink;
                    font-weight: bold;
                }
            }

            &.show {
                transform: scaleY(1);
                opacity: 1;
            }

            @include atSize700 {
                right: -20px;
                position: absolute;
                transform: scaleY(0);
                opacity: 0;
                display: block;
                width: 245px;
            }
        }

        @include atSize700 {
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            height: 100%;
            padding-top: 6px;
        }
    }

    a {
        text-decoration: none;
        color: $menuColor;
        font-size: .875rem;
        display: block;
        padding: 1.2rem 0;
        transition: background-color .3s ease-out;
        position: relative;
        white-space: nowrap;

        @include atSize700 {
            padding: 1rem 1rem;
            display: inline-flex;
            height: 100%;
            box-sizing: border-box;
            align-items: center;
        }

        @include atSize850 {
            font-size: 0.9rem;
            max-height: 44px;
        }

        &.is-active {
            position: relative;
            background: transparent;

            @include atSize700 {
                &::after {
                    position: absolute;
                    content: '';
                    width: 70%;
                    height: 2px;
                    display: block;
                    background: linear-gradient(90deg, $titlePink, $titlePink 84%, #fff 84%, #fff 88%, $titlePink 88%, $titlePink 92%, #fff 92%, #fff 96%, $titlePink 96%, $titlePink 100%);
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 4px;
                }
            }

            @include atSize850 {
                &::after {
                    bottom: 8px;
                }
            }
        }
    }

    .getStartedBtn {

        // position: relative;
        // padding-right: 0;
        @include atSize700 {
            &::before {
                content: '';
                width: 2px;
                height: 50%;
                background-color: #979797;
                position: absolute;
                left: 2px;
                display: none;
            }

            &::after {
                content: '';
                width: 74%;
                height: 1px;
                background-color: #979797;
                position: absolute;
                bottom: 6px;
                opacity: .5;
                display: none;
            }
        }

        @include atSize850 {
            &::after {
                bottom: 14px;
            }
        }
    }

    @include atSize700 {
        margin-left: 0;
        height: 100%;
    }

    @include atSize1100 {
        /*        margin-left: 8rem; */
    }
}

.top-gap {
    height: 70px;
    width: 100%;
    background-color: #fff;
}



.megamenu-container {
    .explore-btn-main {
        float: left;
        padding: 5px 16px;
        border-radius: 6px;
        background-image: linear-gradient(89deg, #ff006e 0%, #ff4e9a 100%, #ffd85e 100%);
        color: #fff;
        font-size: 16px;
        display: block;
        width: 87px;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;

        @include belowSize700 {
            width: 87px !important;
            padding: 5px 8px !important;
            margin-top: 14px !important;

            span {
                padding: 12px 0 12px 0;
                color: #fff !important;
            }
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: none;

                @include belowSize700 {
                    text-decoration: none;
                }
            }
        }

        &:hover {
            .dd-level1 {
                display: block;
            }
        }

        ul {
            width: 780px;
            height: 400px;

            @include belowSize700 {
                height: auto;
                font-size: 15px !important;
                padding: 0 !important;
                margin: 0 !important;
                background: #f3f3f3 !important;
                width: 94% !important;
                padding-left: 20px !important;
            }
        }

        &:after {
            content: "";
            display: block;
            right: 0;
            top: 6px;
            width: 10px;
            height: 10px;
            border-top: #fff solid 2px;
            border-right: #fff solid 2px;
            position: relative;
            transform: rotate(135deg);
            float: right;
        }

        .dd-level1 {
            height: 181px;
            display: none;
            position: absolute;
            z-index: 1;
            font-size: 15px;
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 20px;

            @include belowSize700 {
                width: 100% !important;
                left: 0;
                top: 60px;
                background: rgba(239, 241, 254, 1);
                box-shadow: 0 4px 8px RGBA(0, 0, 0, 0.3);
            }

            &>ul {
                margin: 0;
                padding: 20px 20px 0 10px;
                background: #fff;
                box-shadow: 0 6px 14px RGBA(0, 0, 0, 0.3);

                @include belowSize700 {
                    width: 100% !important;
                    overflow: hidden;
                    overflow-y: auto;
                    border: none;
                    border-radius: 4px;
                    box-shadow: none;
                }

                li {
                    &:hover {
                        background: rgba(243, 243, 243, .67);
                    }

                    &:after {
                        content: "";
                        display: block;
                        position: relative !important;
                        left: 29%;
                        top: -14px;
                        width: 10px;
                        height: 10px;
                        border-top: #666 solid 1px;
                        border-right: #666 solid 1px;
                        position: relative;
                        transform: rotate(45deg);

                        @include belowSize700 {
                            left: 90%;
                            top: 12px;
                            position: absolute !important;
                            transform: rotate(135deg);
                        }
                    }

                    @include belowSize700 {
                        img {
                            display: none;
                        }
                    }

                    margin:0;
                    padding:7px 10px 1px;
                    list-style:none;
                    width:auto;
                    margin-bottom:7px;

                    @include belowSize700 {
                        position: relative !important;
                        padding: 10px 0;
                    }

                    .dd-level2 {
                        display: none;
                        background: #fff;
                        position: absolute;
                        z-index: 1;
                        font-size: 16px;
                        left: 33%;
                        top: 30px;
                        width: 400px;
                        padding: 20px 0 20px 20px;

                        @include belowSize700 {
                            border: none;
                            border-radius: 0;
                            background: transparent;
                            position: relative;
                            z-index: 1;
                            font-size: 14px;
                            font-weight: normal;
                            left: 0;
                            top: 0;
                            width: 100%;
                            padding: 20px 0 0 0;
                        }

                        .dd-level2-inner {
                            overflow: hidden;
                            overflow-y: auto;
                            width: 240px;
                            height: 340px;
                            overflow-y: scroll;
                            scrollbar-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.3);
                            scrollbar-width: thin;

                            &::-webkit-scrollbar {
                                width: 8px;
                                margin-right: 10px;
                            }

                            &::-webkit-scrollbar-track {
                                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                                border-radius: 8px;
                            }

                            &::-webkit-scrollbar-thumb {
                                border-radius: 8px;
                                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
                            }

                            @include belowSize700 {
                                overflow: visible;
                                overflow-y: visible;
                                width: 100%;
                                height: auto;
                            }

                            ul {
                                width: 215px;
                                margin: 0;
                                padding: 0;

                                @include belowSize700 {
                                    width: 95% !important;
                                    padding-left: 0 !important;
                                    height: 229px;
                                    overflow: auto;
                                }

                                li {
                                    padding: 10px 0;
                                    margin: 0;

                                    &:hover {
                                        background: none;
                                    }

                                    &:after {
                                        display: none;
                                    }

                                    padding:10px 0;

                                    @include belowSize700 {
                                        padding: 14px 0;
                                    }

                                    &:first-child {
                                        color: #000;
                                        padding-bottom: 20xp !important;

                                        .dd-level3 {
                                            ul {
                                                display: block;

                                                @include belowSize700 {
                                                    width: 95% !important;
                                                    display: none;

                                                    img {
                                                        display: block;
                                                        margin-left: 0;
                                                    }
                                                }

                                                li {
                                                    padding: 5px 0;
                                                    list-style: none;

                                                    a {
                                                        display: block;
                                                        background: rgba(243, 243, 243, .67);
                                                        padding: 5px;
                                                        color: #000;

                                                        @include belowSize700 {
                                                            display: block;
                                                            background: transparent;
                                                            padding: 5px 0;
                                                        }
                                                    }

                                                    h4 {
                                                        font-size: 16px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .dd-level3 {
                                        ul {
                                            display: none;
                                            position: absolute;
                                            z-index: 1;
                                            font-weight: normal;
                                            left: 68%;
                                            top: 8px;
                                            background: #fff;
                                            width: 233px;
                                            height: 250px;
                                            font-size: 12px;
                                            z-index: 2;

                                            @include belowSize700 {
                                                position: relative;
                                                z-index: 1;
                                                font-size: 16px;
                                                font-weight: normal;
                                                left: 0;
                                                top: 10px;
                                                width: 100%;
                                                height: auto;
                                                padding-left: 0 !important;
                                            }

                                            li {
                                                h4 {
                                                    margin: 0 0 1px;
                                                    padding-top: 6px;
                                                }

                                                a {
                                                    color: #3a3a3a;
                                                }
                                            }
                                        }
                                    }

                                    &:hover {
                                        &>.dd-level3 {
                                            ul {
                                                display: block;

                                                @include belowSize700 {
                                                    display: none;
                                                }

                                                a {
                                                    color: #3a3a3a !important;
                                                }
                                            }
                                        }

                                        a {
                                            color: #ff006e !important;
                                            text-decoration: none;
                                        }
                                    }

                                    a {
                                        font-weight: normal;
                                        font-style: normal;

                                        img {
                                            max-width: 50px;
                                            float: left;
                                            margin: 5px 10px;
                                        }
                                    }
                                }
                            }

                            h4 {
                                font-size: 20px;
                                font-weight: normal;
                                color: #000;
                                margin: 0 0 17px;

                                @include belowSize700 {
                                    display: none;
                                }
                            }

                            p {
                                color: #303030;
                                font-weight: 600;
                                font-style: normal;
                                margin: 0 0 10px;

                                @include belowSize700 {
                                    color: #333;
                                    font-weight: bold;
                                    font-style: normal;
                                }
                            }
                        }
                    }

                    a {
                        font-weight: bold;
                        font-style: italic;
                        color: #333;
                    }

                    &:first-child {
                        .dd-level2 {
                            display: block;
                        }

                        @include belowSize700 {
                            .dd-level2 {
                                display: none;
                            }
                        }
                    }

                    &:hover {
                        .dd-level2 {
                            display: block;
                        }
                    }
                }
            }
        }
    }


    .megasubmenu {
        padding: 20px;
    }

    @media (min-width: 992px) {
        .dropdown-menu .dropdown-toggle:after {
            border-top: .3em solid transparent;
            border-right: 0;
            border-bottom: .3em solid transparent;
            border-left: .3em solid;
            float: right;
            top: 15px;
            position: relative;
        }

        .dropdown-menu {
            margin: 0;
            font-size: 14px;
        }

        .megasubmenu {
            left: 100%;
            top: 0;
            height: 383px;
            min-width: 500px;
        }

        .box-shadow {
            box-shadow: 0 2px 13px 0 #8c8c8c;
            width: 600px;
            font-family: 'Lato';
            font-size: 1rem;
        }

        .megasubmenu a {
            text-decoration: none;
            color: black;
            font-family: lato;
            font-size: 1.0rem;
        }

        .megasubmenu a:hover {
            text-decoration: none;
            color: #ff026f;
        }

        .dropdown-menu>li:hover .megasubmenu {
            display: block;
            height: 383px;
        }

        .dropdown-item {
            font-weight: bold;
            font-family: 'Lato';
            opacity: 0.9;
            font-style: italic;
            line-height: 2.6;
        }

        .dropdown-item:hover>ul {
            color: #16181b;
            text-decoration: none;
            background-color: #f8f9fa;
        }

        .three-level a {
            font-family: 'lato';
            background-color: #f3f3f3;
            color: #303030;
            text-decoration: none;
            font-size: .75rem;
            height: 59px;
            display: flex;
            border-radius: 3px;
            line-height: normal;
            align-items: center;
            padding-left: 10px;
            padding-right: 5px;
            margin-top: 7px;
            width: 110%;
        }

        .three-level img {
            width: 56px;
            display: inline-block;
            margin-right: 13px;
        }
    }

    .bindWidth {
        height: 350px;
        overflow-y: scroll;

        li {
            margin-top: 20px;
        }
    }
}





// New DropDown Design Starts Here


.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    left: 0;
    height: 66%;
    margin: 36% 0% 0% 0%;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}



.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.row-masters {
    min-width: 23%;
    padding: 10px;
    padding-left: 28px;
    padding-top: 10px;
    margin-right: 3%;
    border-left: 1.5px solid rgb(215, 215, 215);
}

.row,
.row-mba,
.row-doctorate {
    min-width: 23%;
    padding: 10px;
    padding-left: 28px;
    padding-top: 10px;
    margin-right: 3%;
    border-left: 1.5px solid rgb(215, 215, 215);
}

.row-mba,
.row-doctorate {
    display: none;
}

.row-one {
    min-width: 14%;
    padding-top: 10px;
    margin-left: 9%;
    margin-right: 3%;

    h3 {
        font-family: Lato;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3c3c3c;
        padding-bottom: 32px;
    }
}

.arrow-icon {
    position: absolute;
    left: 24%;
    display: none !important;
}

.row-two {
    min-width: 20%;
    padding-left: 28px;
    padding-top: 10px;
    margin-right: 3%;
    border-left: 1.5px solid #d7d7d7;

}

.row-two-micro {
    display: none;
    min-width: 20%;
    padding-left: 28px;
    padding-top: 10px;
    margin-right: 3%;
    border-left: 1.5px solid #d7d7d7;
}

.row-two-upskill {
    display: none;
    min-width: 20%;
    padding-left: 28px;
    padding-top: 10px;
    margin-right: 3%;
    border-left: 1.5px solid #d7d7d7;
}

.scroll {
    padding-bottom: 20px;
    overflow: auto;
    padding-right: 11px;
    height: 266px;
    width: 114%;
}

.upskill-scroll {
    overflow: auto;
    width: 118%;
    height: 218px;
}

/* Scroll Bar Design  */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2c2c2c;
}

/* Scroll Bar Design End  */




.sub-head h4 {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff4d9a;
}

h4 {
    font-size: 14px;
}

.sub-head {
    h4 {
        font-size: 14px;

        &:hover .arrow-icon {
               
                display: block !important;
            
        }
    }
}

.menu-drop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-top: 20px;
}

.sub-head {
    padding-left: 14px;
    padding-bottom: 43px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
}

.sub-category {
    padding-top: 1px;
    cursor: pointer;
    padding-bottom: 43px;
}

.main-head-icon {
    margin-right: 10px;
    font-size: 20px;
    color: #303030;
}

.hea {
    color: #ff4d9a;
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-bottom: 31px;
}

.row {
    .hea {
        color: #ff4d9a;
        font-family: Lato;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        padding-bottom: 0px;
    }
}

.re-link {
    color: #ff4d9a;
    padding-top: 5px;
    text-decoration: underline;
}

.sub-category-list {
    padding-top: 1px;
    cursor: pointer;
    padding-bottom: 43px;
}

.sub-category-list h4 {
    font-size: 14px;
}

.card-in-drop {
    width: 284px;
    height: auto;
    margin: 21px 135px 12px 10px;
    padding: 11px 12px 13px 7.5px;
    opacity: 0.9;
    border-radius: 3px;
    background-color: #ff016f;
}

.card-in-drop-two {
    width: 284px;
    height: auto;
    margin: 21px 135px 12px 10px;
    padding: 11px 12px 13px 7.5px;
    opacity: 0.9;
    border-radius: 3px;
    background-color: #ffc400;
}

.card-text {
    margin: 0 17px 7.5px 0.5px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.card-text-para {
    margin: 6.5px 0 0 0.5px;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
}

hr {
    width: 117px;
    margin: 7.5px 147.5px 6.5px 0;
    border: solid 1px #ffffff;
}

.row-postdispl {
    display: none;
    min-width: 23%;
    padding: 10px;
    padding-left: 28px;
    margin-right: 3%;
    border-left: 1.5px solid rgb(215, 215, 215);
}

.row-postcert {
    display: none;
    min-width: 23%;
    padding: 10px;
    padding-left: 28px;
    margin-right: 3%;
    border-left: 1.5px solid rgb(215, 215, 215);
}

.row-basics {
    display: none;
    min-width: 23%;
    padding: 10px;
    padding-left: 28px;
    margin-right: 3%;
    border-left: 1.5px solid rgb(215, 215, 215);
}

.row-essentials {
    display: none;
    min-width: 23%;
    padding: 10px;
    padding-left: 28px;
    margin-right: 3%;
    border-left: 1.5px solid rgb(215, 215, 215);
}

.row-mast {
    display: none;
    min-width: 23%;
    padding: 10px;
    padding-left: 28px;
    margin-right: 3%;
    border-left: 1.5px solid rgb(215, 215, 215);
}

.row-diploma {
    display: none;
    min-width: 23%;
    padding: 10px;
    padding-left: 28px;
    margin-right: 3%;
    border-left: 1.5px solid rgb(215, 215, 215);
}

.row-exedipl {
    display: none;
    min-width: 23%;
    padding: 10px;
    padding-left: 28px;
    margin-right: 3%;
    border-left: 1.5px solid rgb(215, 215, 215);
}

.row-mbaessentials {
    display: none;
    min-width: 23%;
    padding: 10px;
    padding-left: 28px;
    margin-right: 3%;
    border-left: 1.5px solid rgb(215, 215, 215);
}

.re-link h5 {
    font-size: 12px;
    font-weight: bold;
    width: 53%;
}













@media screen and (max-width: 1132px) {}

@media screen and (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}