.modal-reg {
   display: none;
    position: fixed;
    z-index: 30;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.thanks-modal {
    display: none;
    position: fixed;
    z-index: 30;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.thnks-conent {
    text-align: center;
}

.pop-up-content {
    background-color: #fefefe;
 margin:auto;
 width:30%;
 border-radius: 5px;
 padding: 40px;
}

.pop-up-content-thanks {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 30%;
    padding: 20px;
}

.thnks-conent img {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.thanks-head{
	font-size: 27px;
  padding: 12px 12px 12px 0;
  display: block;
}
.thanks-para{
	font-size: 14px;
  padding: 12px 12px 12px 0;
  display: block;
}
.close {
    color: #ffffff;
    float: right;
    font-size: 33px;
    font-weight: 400;
    background-color: #000000;
    width: 40px;
    height: 40px;
    padding: 0px;
        margin-top: -66px;
        margin-right: -61px;
    text-align: center;
    border-radius: 30px;
    border: 3px solid white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.lclose {
    color: #ffffff;
    float: right;
    font-size: 33px;
    font-weight: 400;
    background-color: #161616;
	opacity: 0.7;
  width: 52px;
  height: 52px;
  padding: 0px 0px 0px 0px;
    margin-top: -40px;
    margin-right: -40px;
    text-align: center;
    border-radius: 30px;
    border: 3px solid white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.lclose:hover,
.lclose:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.okay {
    cursor: pointer;
    height: 40px;
    width: 110px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1b1b1b;
    border-radius: 8px;
    border: none;
    background-color: linear-gradient(to left, #dbdbdb 111%, #8b8b8b 96%, #3f3f3f);
}

.text-insight,
span {
    color: #ff006e;
    padding: 12px 12px 12px 0;

}


.pop-up-para {
    width: 90%;

    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #303030;

    padding: 12px 12px 12px 0;
    display: block;
}

.email-input {

    border-radius: 3px;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.432);
    border: solid 1px #979797;
    width: 100%;
    margin-bottom: 10px;
   padding: 12px 12px 12px 45px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}

.input-icon i{
  position: absolute;
}
 .input-icons {
   width: 100%;
 }
  .inputi {
    padding: 12px;
    color: #46464678;
    min-width: 46px;
    font-size: 19px;
    text-align: center;
  }




.name-input {

   border-radius: 3px;
   box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.432);
   border: solid 1px #979797;
   width: 100%;
   margin-bottom: 10px;
   padding: 12px 12px 12px 45px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: vertical;
}

.submit-input {

    background-color: #ff006e;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     width:100%;
     margin:auto
}

.sub-text {
    padding: 12px 12px 12px 0;
    display: block;
    font-family: Lato;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #606060;
}

.social-icon-facebook {
    width: 40px;
    height: 30px;
  margin-right: 20px;
    text-align: center;
    color: rgb(41, 81, 190);
    display: inline-block;
    border-radius: 2.6px;
    box-shadow: 0 1px 7px -1px #d5dbfb;
    background-color: #ffffff;
}

.social-icon-google {
    width: 40px;
    height: 30px;
 margin-right: 20px;
    text-align: center;
    color: red;
    display: inline-block;
    border-radius: 2.6px;
    box-shadow: 0 1px 7px -1px #d5dbfb;
    background-color: #ffffff;
}

.social-icon-linkin {
    width: 40px;
    height: 30px;

    text-align: center;
    color: blue;
    display: inline-block;
    border-radius: 2.6px;
    box-shadow: 0 1px 7px -1px #d5dbfb;
    background-color: #ffffff;
}

.social-content {
    margin: auto;
    display: flex;
    justify-content: center;


}
.google-logo {
  width:42%;
}




@media screen and (width:2160px) {

  .pop-up-content {

    margin: auto;
    width: 25%;
    height: auto;
    padding: 20px;
  }


  .close {

    margin-top: -41px;
    margin-right: -37px;

  }
}

@media screen and (max-width:1360px) {

  .pop-up-content {

    margin: auto;
    width: 35%;
    height: auto;
    padding: 20px;
  }

  .close {

    margin-top: -41px;
    margin-right: -37px;

  }

  @media screen and (max-width:850px) {

    .pop-up-content {

      margin: auto;
      width: 80%;
      height: auto;
      padding: 20px;
    }

    .close {

      margin-top: -41px;
      margin-right: -37px;

    }

    .pop-up-content-thanks {
      height: auto;
      margin: auto;
      padding: 20px;
      width: 80%;
    }

    .lclose {

      margin-top: -41px;
      margin-right: -37px;
    }

  }













/* screen width of 360px (galaxy and android)


@media screen and (width: 360px) {


    .pop-up-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px 0 0 20px;
        border: 1px solid #888;
        width: 80%;
        height: 68vh;
    }

    .pop-up-content-thanks {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 80%;
        height: 42vh;
    }

    .thanks-head {
        font-size: 22px;
	}

    .thnks-conent img {


    }

    .thanks-para {
        font-size: 13px;
        margin-bottom: 30px;
    }

    .close {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;

        width: 40px;
        height: 40px;
        margin-top: -40px;
        margin-right: -20px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .lclose {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;
        width: 50px;
        height: 50px;
        margin-top: -30px;
        margin-right: -30px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .pop-up-para {
        width: 90%;
        height: 44px;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #303030;
        margin-bottom: 30px;
    }

    .email-input {

        width: 250px;
        height: 43px;
        opacity: 0.5;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.432);
        border: solid 1px #979797;
        margin-bottom: 18px;

    }

    .name-input {

        width: 250px;
        opacity: 0.5;
        height: 43px;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #979797;
        margin-bottom: 18px;
    }

    .submit-input {

        width: 250px;
        color: white;
        height: 43px;
        padding-left: 10px;
        border-radius: 3px;
        background-color: #ff006e;
        margin-bottom: 18px;
        border: none;
    }

    .sub-text {
        margin: -8px 20px;
        font-family: Lato;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #606060;
    }

    .social-icon-facebook {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: rgb(41, 81, 190);
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-google {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: red;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-linkin {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: blue;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-content {
        margin: 20px 0 0 50px;

    }


}



/* screen width of 411px (galaxy and android)


@media screen and (width: 411px) {


    .pop-up-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px 0 0 20px;
        border: 1px solid #888;
        width: 70%;
        height: 60vh;
    }

    .pop-up-content-thanks {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 80%;
        height: 35vh;
    }

    .thanks-head {
        font-size: 23px;

    }

    .thanks-para {
        font-size: 12px;
        margin-bottom: 25px;
    }

    .thnks-conent img {

    }

    .close {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;

        width: 40px;
        height: 40px;
        margin-top: -40px;
        margin-right: -20px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .lclose {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;
        width: 50px;
        height: 50px;
        margin-top: -30px;
        margin-right: -20px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .pop-up-para {
        width: 90%;
        height: 44px;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #303030;
        margin-bottom: 30px;
    }

    .email-input {

        width: 250px;
        height: 43px;
        opacity: 0.5;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.432);
        border: solid 1px #979797;
        margin-bottom: 18px;

    }

    .name-input {

        width: 250px;
        opacity: 0.5;
        height: 43px;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #979797;
        margin-bottom: 18px;
    }

    .submit-input {

        width: 250px;
        color: white;
        height: 43px;
        border-radius: 3px;
        background-color: #ff006e;
        margin-bottom: 18px;
        border: none;
		text-align: center;
    }

    .sub-text {
        margin: -8px 20px;
        font-family: Lato;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #606060;
    }

    .social-icon-facebook {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: rgb(41, 81, 190);
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-google {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: red;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-linkin {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: blue;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-content {
        margin: 20px 0 0 50px;

    }

}



/* screen width of 375px (iphone)



@media screen and (width: 375px) {


    .pop-up-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px 0 0 20px;
        border: 1px solid #888;
        width: 80%;
        height: 65vh;
    }

    .pop-up-content-thanks {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 80%;
        height: 35vh;
    }

    .thanks-head {
        font-size: 20px;
    }

    .thanks-para {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .close {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;

        width: 40px;
        height: 40px;
        margin-top: -40px;
        margin-right: -20px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .lclose {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;
        width: 50px;
        height: 50px;
        margin-top: -30px;
        margin-right: -20px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .pop-up-para {
        width: 90%;
        height: 44px;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #303030;
        margin-bottom: 30px;
    }

    .email-input {

        width: 250px;
        height: 43px;
        opacity: 0.5;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.432);
        border: solid 1px #979797;
        margin-bottom: 18px;

    }

    .name-input {

        width: 250px;
        opacity: 0.5;
        height: 43px;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #979797;
        margin-bottom: 18px;
    }

    .submit-input {

        width: 250px;
        color: white;
        height: 43px;
        text-align: center;
        border-radius: 3px;
        background-color: #ff006e;
        margin-bottom: 18px;
        border: none;
    }

    .sub-text {
        margin: -8px 20px;
        font-family: Lato;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #606060;
    }

    .social-icon-facebook {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: rgb(41, 81, 190);
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-google {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: red;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-linkin {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: blue;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-content {
        margin: 20px 0 0 50px;

    }

}


/* screen width of 411px (iphone(7/8/9) plus )

@media screen and (width: 414px) {


    .pop-up-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px 0 0 20px;
        border: 1px solid #888;
        width: 70%;
        height: 60vh;
    }

    .pop-up-content-thanks {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 70%;
        height: 33vh;
    }

    .thanks-head {
        font-size: 20px;
    }

    .thanks-para {
        font-size: 12px;
        margin-bottom:25px;
    }



    .close {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;
        width: 40px;
        height: 40px;
        margin-top: -40px;
        margin-right: -20px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }


    .lclose {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;
        width: 50px;
        height: 50px;
        margin-top: -30px;
        margin-right: -20px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .pop-up-para {
        width: 90%;
        height: 44px;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #303030;
        margin-bottom: 30px;
    }

    .email-input {

        width: 250px;
        height: 43px;
        opacity: 0.5;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.432);
        border: solid 1px #979797;
        margin-bottom: 18px;

    }

    .name-input {

        width: 250px;
        opacity: 0.5;
        height: 43px;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #979797;
        margin-bottom: 18px;
    }

    .submit-input {

        width: 250px;
        color: white;
        height: 43px;
		text-align: center;
        border-radius: 3px;
        background-color: #ff006e;
        margin-bottom: 18px;
        border: none;
    }

    .sub-text {
        margin: -8px 20px 25px 20px;
        font-family: Lato;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #606060;
    }

    .social-icon-facebook {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: rgb(41, 81, 190);
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-google {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: red;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-linkin {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: blue;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-content {
        margin: 20px 0 0 50px;

    }

}




/* screen width of 375px (iphone(x) )


@media screen and (width: 375px) and (height: 812px) {


    .pop-up-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px 0 0 20px;
        border: 1px solid #888;
        width: 80%;
        height: 55vh;
    }


    .pop-up-content-thanks {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 80%;
        height: 30vh;
    }

    .thanks-head {
        font-size: 20px;
    }

    .thanks-para {
        font-size: 12px;
        margin-bottom: 25px;
    }


    .close {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;
        width: 40px;
        height: 40px;
        margin-top: -40px;
        margin-right: -20px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .lclose {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;
        width: 50px;
        height: 50px;
        margin-top: -30px;
        margin-right: -20px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .pop-up-para {
        width: 90%;
        height: 44px;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #303030;
        margin-bottom: 30px;
    }

    .email-input {

        width: 250px;
        height: 43px;
        opacity: 0.5;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.432);
        border: solid 1px #979797;
        margin-bottom: 18px;

    }

    .name-input {

        width: 250px;
        opacity: 0.5;
        height: 43px;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #979797;
        margin-bottom: 18px;
    }

    .submit-input {

        width: 250px;
        color: white;
        height: 43px;
        text-align: center;
        border-radius: 3px;
        background-color: #ff006e;
        margin-bottom: 18px;
        border: none;
    }

    .sub-text {
        margin: -8px 20px 25px 20px;
        font-family: Lato;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #606060;
    }

    .social-icon-facebook {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: rgb(41, 81, 190);
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-google {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: red;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-linkin {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: blue;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-content {
        margin: 20px 0 0 50px;

    }

}


/* screen width of 768px (ipad )



@media screen and (width:768px) {


    .pop-up-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px 0 0 20px;
        border: 1px solid #888;
        width: 40%;
        height: 45vh;
    }

    .pop-up-content-thanks {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 40%;
        height: 23vh;
    }

    .thanks-head {
        font-size: 20px;

    }

    .thanks-para {
        font-size: 12px;
        margin-bottom: 25px;
    }



    .close {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;
        width: 40px;
        height: 40px;
        margin-top: -40px;
        margin-right: -20px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .lclose {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;
        width: 50px;
        height: 50px;
        margin-top: -30px;
        margin-right: -20px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .pop-up-para {
        width: 90%;
        height: 44px;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #303030;
        margin-bottom: 30px;
    }


    .email-input {

        width: 250px;
        height: 43px;
        opacity: 0.5;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.432);
        border: solid 1px #979797;
        margin-bottom: 18px;

    }

    .name-input {

        width: 250px;
        opacity: 0.5;
        height: 43px;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #979797;
        margin-bottom: 18px;
    }

    .submit-input {

        width: 250px;
        color: white;
        height: 43px;
        padding-left: 10px;
        border-radius: 3px;
        background-color: #ff006e;
        margin-bottom: 18px;
        border: none;
    }

    .sub-text {
        margin: -8px 20px 25px 20px;
        font-family: Lato;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #606060;
    }

    .social-icon-facebook {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: rgb(41, 81, 190);
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-google {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: red;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-linkin {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: blue;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-content {
        margin: 20px 0 0 50px;

    }

}




/* screen width of 1024px (ipad Pro )



@media screen and (width:1024px) {


    .pop-up-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px 0 0 20px;
        border: 1px solid #888;
        width: 30%;
        height: 33vh;
    }

    .pop-up-content-thanks {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 30%;
        height: 18vh;
    }

    .thanks-head {
        font-size: 20px;
    }

    .thanks-para {
        font-size: 11px;
        margin-bottom: 25px;
    }



    .close {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;
        width: 40px;
        height: 40px;
        margin-top: -40px;
        margin-right: -20px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .lclose {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;
        width: 50px;
        height: 50px;
        margin-top: -20px;
        margin-right: -20px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .pop-up-para {
        width: 90%;
        height: 44px;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #303030;
        margin-bottom: 30px;
    }


    .email-input {

        width: 250px;
        height: 43px;
        opacity: 0.5;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.432);
        border: solid 1px #979797;
        margin-bottom: 18px;

    }

    .name-input {

        width: 250px;
        opacity: 0.5;
        height: 43px;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #979797;
        margin-bottom: 18px;
    }

    .submit-input {

        width: 250px;
        color: white;
        height: 43px;
        padding-left: 10px;
        border-radius: 3px;
        background-color: #ff006e;
        margin-bottom: 18px;
        border: none;
    }

    .sub-text {
        margin: -8px 20px 25px 20px;
        font-family: Lato;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #606060;
    }

    .social-icon-facebook {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: rgb(41, 81, 190);
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-google {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: red;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-linkin {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: blue;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-content {
        margin: 20px 0 0 50px;

    }
}



/* screen width of 540px (Surface Duo )

@media screen and (width:540px) {


    .pop-up-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px 0 0 20px;
        border: 1px solid #888;
        width: 55%;
        height: 62vh;
    }

    .pop-up-content-thanks {
        background-color: #fefefe;
        margin: auto;
        padding: 20px 0 0 0px;
        border: 1px solid #888;
        width: 55%;
        height: 33vh;
    }

    .thanks-head {
        font-size: 20px;
        margin-bottom: -8px;
    }

    .thanks-para {
        font-size: 12px;
        margin-bottom: 30px;
    }

    .thnks-conent img {
        margin-left: 40px;
    }

    .close {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;
        width: 40px;
        height: 40px;
        margin-top: -40px;
        margin-right: -20px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .lclose {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;
        padding: 4px 23px 30px 15px;
        width: 10px;
        height: 10px;
        margin-top: -40px;
        margin-right: -20px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .pop-up-para {
        width: 90%;
        height: 44px;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #303030;
        margin-bottom: 30px;
    }


    .email-input {

        width: 250px;
        height: 43px;
        opacity: 0.5;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.432);
        border: solid 1px #979797;
        margin-bottom: 18px;

    }

    .name-input {

        width: 250px;
        opacity: 0.5;
        height: 43px;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #979797;
        margin-bottom: 18px;
    }

    .submit-input {

        width: 250px;
        color: white;
        height: 43px;
        padding-left: 10px;
        border-radius: 3px;
        background-color: #ff006e;
        margin-bottom: 18px;
        border: none;
    }

    .sub-text {
        margin: -8px 20px 25px 20px;
        font-family: Lato;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #606060;
    }

    .social-icon-facebook {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: rgb(41, 81, 190);
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-google {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: red;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-linkin {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: blue;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-content {
        margin: 20px 0 0 50px;

    }
}


/* screen width of 280px (galaxy fold )

@media screen and (width:280px) {


    .pop-up-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px 0 0 20px;
        border: 1px solid #888;
        width: 80%;
        height: 65vh;
    }

    .pop-up-content-thanks {
        background-color: #fefefe;
        margin: auto;
        padding: 20px 0 0 0px;
        border: 1px solid #888;
        width: 70%;
        height: 28vh;
    }

    .thanks-head {
        font-size: 14px;
        margin-bottom: -8px;
    }

    .thanks-para {
        font-size: 8px;
        margin-bottom: 20px;
    }

    .thnks-conent img {
        margin-left: 40px;
        width: 30%;
    }

    .close {
        color: #ffffff;
        float: right;
        font-size: 33px;
        font-weight: 400;
        background-color: #303030;
        width: 40px;
        height: 40px;
        margin-top: -40px;
        margin-right: -10px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .lclose {
        color: #ffffff;
        float: right;
        font-size: 30px;
        font-weight: 400;
        background-color: #303030;
        padding: 3px 23px 30px 10px;
        width: 5px;
        height: 5px;
        margin-top: -40px;
        margin-right: -10px;
        text-align: center;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .pop-up-para {
        width: 90%;
        height: 44px;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #303030;
        margin-bottom: 30px;
    }


    .email-input {

        width: 220px;
        height: 33px;
        opacity: 0.5;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.432);
        border: solid 1px #979797;
        margin-bottom: 18px;

    }

    .name-input {

        width: 220px;
        opacity: 0.5;
        height: 33px;
        padding-left: 10px;
        border-radius: 3px;
        box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #979797;
        margin-bottom: 18px;
    }

    .submit-input {

        width: 220px;
        color: white;
        height: 45px;
        text-align: center;
		line-height: 20px;
        border-radius: 3px;
        background-color: #ff006e;
        margin-bottom: 18px;
        border: none;
    }

    .sub-text {
        margin: -8px 20px 25px 20px;
        font-family: Lato;
        font-size: 10px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #606060;
    }

    .social-icon-facebook {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: rgb(41, 81, 190);
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-google {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: red;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-icon-linkin {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        text-align: center;
        color: blue;
        display: inline-block;
        border-radius: 2.6px;
        box-shadow: 0 1px 7px -1px #d5dbfb;
        background-color: #ffffff;
    }

    .social-content {
        margin: 20px 0 0 30px;

    }
}
*/
