{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
  <div class="insights-courses">
    <div class="container-fluid">
      <div class="courses-list">

          {% for row in rows %}
            {%
              set row_classes = [
                default_row_class ? 'course-item',
              ]
            %}
            <div{{ row.attributes.addClass(row_classes) }}>
              {{- row.content -}}
            </div>
          {% endfor %}

      </div>
    </div>
    <div class="view-all">
      <button>View All</button>
    </div>
</div>