<div class="meta">
    <div class="photo">

        {{ output -}}
        <div class="text-block">
                     <h4>Insights</h4>
                     <p>Testimonials | Uniathena</p>
                  </div>
    </div>
</div>
