<head>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/css/intlTelInput.css' rel='stylesheet' type='text/css'>
    </head>
<div class="container-fluid p-0 about-us-wrapper">

        <div class="container bg-white login-wrapper">
            <div class="row">                
                <div class="col-md-6 col-sm-12">
                    <h1>Register <span>Now</span></h1>
                    <h3>Start Learning in 60 Seconds - No need for any payment details!</h3>
                    <h4>If you are a  Existing user please <span><a href="http://portal.athena.edu/login">Sign In</a></span></h4>
                    <div class="login-details">
                        <div class="login-item names">
                            <div class="name-item">
                                <p>First Name</p>
                                <input type="text" id="reg_first_name" placeholder="Enter First Name">
                            </div>
                            <div class="name-item">
                                <p>Last Name</p>
                                <input type="text" id="reg_last_name" placeholder="Enter Last Name">
                            </div>
                        </div>
                        <div class="login-item">
                            <p>Email</p>
                            <input type="email" id="reg_email" placeholder="Enter Email Address">
                        </div>
                        <div class="login-item phone-number">
                                <p>Mobile Number</p>
                                <input type="tel" id="reg_mobile_num" placeholder="Enter Mobile number">
                            </div>
                        <div class="login-item">
                            <p>Choose your Course</p>
                            <select name="course" id="reg_course">
                                {% for nodedata in nodes %}
                                 <option value="{{nodedata.id}}" default="">{{nodedata.label}}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="login-item">
                            <p>Highest Qualification</p>
                           <select name="ctl00$MainContent$ddlQualification" id="reg_qual" tabindex="6" class="form-control required" placeholder="Select" onchange="HighQualchange(this.value)">
		<option value="">Select your highest qualification</option>
		<option value="Masters Degree">Masters Degree</option>
		<option value="Bachelors Degree">Bachelors Degree</option>
		<option value="Diploma">Diploma</option>
		<option value="A Level">A Level</option>
		<option value="Others">Others</option>

	</select>
                        </div>
                        <div class="login-item names">
                            <div class="name-item">
                                <p>Year of Experience</p>
                                <input id="reg_exp" type="number" placeholder="YY">
                            </div>
                            <div class="name-item">
                                <p>&nbsp;</p>
                                <input type="number" id="reg_months" placeholder="MM">
                            </div>
                        </div>
                        <div class="login-item">
                            <p>Level of employment</p>
                            <select name="ctl00$MainContent$ddlEmployment" id="reg_level" tabindex="9" class="form-control">
		<option selected="selected" value="">Select level of employment</option>
		<option value="1">Clerical/Support/Entry Level</option>
		<option value="2">Supervisory/Team Leader Level</option>
		<option value="3">Manager/Middle Management</option>
		<option value="4">Heads/Senior Management</option>
		<option value="5">CEO/COO/CFO/MD/GM- Executive Management </option>
		<option value="6">Administrative/Officer Level</option>

	</select>
                        </div>
                        <div class="login-item">
                            <p>Password</p>
                            <input type="password" id="reg_pass" placeholder="Password">
                        </div>
                        <div class="login-item">
                            <p>Confirm Password</p>
                            <input type="password" id="reg_confirm_pass" placeholder="Confirm Password">
                        </div>
                        <!-- <div class="forgot-password">
                            Forgot Password?
                        </div> -->
                        <div class="button">
                            <input type="checkbox" id="reg_terms" name="vehicle1">
                            <label for="vehicle1"> I agree with Terms &amp; Conditions</label>
                            <button id="registration_form">Register</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 register-images">
                    <img src="{{base_path}}/images/Register-athena-img.png" alt="login image">
                </div>
            </div>
        </div>
    </div>
    
    
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/js/intlTelInput.min.js"></script>