<link rel="stylesheet" href="/themes/custom/athena/assets/styles/modules/reg.css">
<div style="background-color:#f6f6ff;    position: relative;">
  <div class="container" style=" ">
  <div class="row">
    <div class="col-md-7"
      style="background-image:url('/themes/custom/athena/images/dots-img.svg');background-repeat:no-repeat; margin-top:60px;   background-position: left top;">
      <div class="queen-image">
        <div class="queen-text ">
          <h1>Thank you for Registration.</h1>
          <h2>Please wait we are redirecting</h2>
          <div class="progress ">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <p><a class="student_enroll_link">Click here</a> if you are not redirected</p>
        </div>
      </div>
    </div>
    <div class="col-md-5 hidden-xs"
      style="background-image:url('/themes/custom/athena/images/dots-2-img.svg');background-repeat:no-repeat;    background-position:  center top;;">
      <img src="/themes/custom/athena/images/model.png" class="img-responsive" style="    position: relative;
    z-index: 0;"></div>
  </div>
  </div>
  <img src="/themes/custom/athena/images/curv-home.png" class="img-responsive" style="    z-index: 4;
    width: 100%;position: absolute;bottom:0">
</div>