<link
  rel="stylesheet"
  type="text/css"
  href="/themes/custom/athena/assets/styles/modules/_rsuUcam.css"
/>

<div class="sticky"><h6>RSU-UCAM Dual Degree</h6></div>

<div class="content-wrapper">
  <div class="" role="navigation">
    <div class="container">
      <div class="col-xs-6">
{#         <a href="https://athena.edu/"
          ><img
            src="https://athena.edu/themes/custom/athena/logo.svg"
            class="p-10"
            alt=""
        /></a>
      </div> #}
      <div class="col-xs-6 text-right top-social"></div>
    </div>
  </div>
  <!--/.navbar -->

  <div class="bg-design">
    <div class="container-fluid">
      <div class="col-md-6 claim-european-mba">
        <img
          src="/themes/custom/athena/rsu_ucam/style/images/logo-rsu.svg"
          class="img-res"
        />
        <h1>Claim your European MBA</h1>
        <div class="inline-blk1">
          <h3>RSU MBA</h3>
          <div class="pink-border"></div>

          <ul>
            <li>100 % credit transfer</li>
            <li>No additional study</li>
          </ul>
        </div>
        <div class="inline-blk border-l">
          <h3>Plus a Thesis</h3>
          <div class="pink-border"></div>
          <ul>
            <li>Prepare your Thesis</li>
            <li>Full online assistance</li>
            <li>Face to face seminar</li>
            <li style="margin-bottom: 0px">Submit your dissertation</li>
          </ul>
        </div>

        <a href=""> Know more </a>

        <p>
          * Can be completed in 3 Months / Total Fee <span> $3,300 </span> - No
          Extras<br />
          Receive the degree in thailand or spain
        </p>
      </div>

      <div class="col-md-6 text-center"></div>
    </div>
  </div>

  <section>
    <div class="container inner-class">
      <div class="row">
        <h1>
          Exchange your RSU MBA courses + <br />Dissertation for an MBA from
          UCAM
        </h1>
        <div class="in-pink-bor"></div>
      </div>
    </div>

    <div class="container inner-class2">
      <div class="row">
        <div class="col-md-3" style="padding-right: 8px">
          <h3>Find out How</h3>

          <div class="overview-points-card__container">
            <img
              src="/themes/custom/athena/rsu_ucam/style/images/svg/additional.svg"
              alt="icon"
              class="overview-points-card__container-img"
            />
            <div class="overview-points-card__container-contains">
              <h3>No Additional Study</h3>
            </div>
          </div>

          <div class="overview-points-card__container">
            <img
              src="/themes/custom/athena/rsu_ucam/style/images/svg/thesis.svg"
              alt="icon"
              class="overview-points-card__container-img"
            />
            <div class="overview-points-card__container-contains">
              <h3>Online Assistance to Prepare Thesis</h3>
            </div>
          </div>

          <div class="overview-points-card__container">
            <img
              src="/themes/custom/athena/rsu_ucam/style/images/svg/submit.svg"
              alt="icon"
              class="overview-points-card__container-img"
            />
            <div class="overview-points-card__container-contains">
              <h3>Submit Thesis</h3>
            </div>
          </div>

          <div class="overview-points-card__container">
            <img
              src="/themes/custom/athena/rsu_ucam/style/images/svg/ucam.svg"
              alt="icon"
              class="overview-points-card__container-img"
            />
            <div class="overview-points-card__container-contains">
              <h3><a href=""> Know More About UCAM ? </a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-5 pl-30">
          <div class="pl-b30">
            <h3 style="padding-bottom: 28px">Fees</h3>

            <div class="sec2"><h4>MBA Registration</h4></div>
            <div class="secr"><h5>$300</h5></div>
            <div class="sec2"><h4>Course Fee and Guidance</h4></div>
            <div class="secr"><h5>$1500</h5></div>
            <div class="sec2"><h4>Assessment & Certification Fee</h4></div>
            <div class="secr"><h5>$1500</h5></div>

            <div class="sec2"><p>* No Hidden Extras</p></div>
          </div>
        </div>
        <div class="col-md-4 nopadding">
          <div class="course-login-wrapper">
            <div class="login-details">
              <form
                id="course_speak_to_advisor"
                method="post"
                novalidate="novalidate"
              >
                <h2>Need More Information?</h2>
                <h3>Get in touch with us<span>&nbsp;</span></h3>

                <div class="login-item names">
                  <div class="name-item">
                    <p>First Name *</p>
                    <input
                      type="text"
                      id="speak_first_name"
                      name="speak_first_name"
                      placeholder=" First Name"
                    />
                  </div>
                  <div class="name-item" style="margin-right: 0px">
                    <p>Last Name *</p>
                    <input
                      type="text"
                      id="speak_last_name"
                      name="speak_last_name"
                      placeholder="Last Name"
                    />
                  </div>
                </div>
                <div class="login-item">
                  <p>Email Address *</p>
                  <input
                    type="email"
                    id="speak_email"
                    name="speak_email"
                    required=""
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    placeholder="Enter Email Address"
                  />
                </div>

                <div class="login-item">
                  <p>Mobile No *</p>
                  <input
                    type="Mobile"
                    id="speak_email"
                    name="Mobile"
                    required=""
                    placeholder="Mobile No"
                  />
                </div>

                <div class="login-item">
                  <p>Any Queries?</p>
                  <textarea id="" name="review" rows="4" cols="50"> </textarea>
                </div>

                <div class="button">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="speak_consent"
                    name="speak_consent"
                  />
                  <label class="form-check-label txt-12" for="exampleCheck1">
                    I Accept the <a href=""> Terms &conditions </a></label
                  >
                  <button type="button" id="smo_form_submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-ash">
    <div class="container">
      <div class="col-md-12">
        <h2>What You Get</h2>

        <div class="bor3-pink"></div>
        <p style="padding-bottom: 25px; padding-top: 10px">
          You will be Receiving the following certificates and credentials as
          follows.
        </p>

        <div class="sha-white">
          <div class="contains">
            <img
              src="https://athena.edu/themes/custom/athena/images/coursepage/degree-mba.svg"
              style="/* height:45px; */ /* width:52px; */"
              alt="icon"
            />

            <p>
              <strong>
                Master of International Business Administration (IMBA)
              </strong>
              issued by <span> Universidad Catolica De Murcia , Spain. </span>.
              <a
                class="cover"
                data-toggle="modal"
                data-target="#certificateModal1"
                >(view sample)</a
              >
            </p>
          </div>

          <div class="contains">
            <img
              src="https://athena.edu/themes/custom/athena/images/coursepage/degree-mba.svg"
              style="/* height:45px; */ /* width:52px; */"
              alt="icon"
            />

            <p>
              <strong>
                Master of International Business Administration (IMBA)
              </strong>
              issued by <span>Universidad Catolica De Murcia , Spain. </span>.
              <a
                class="cover"
                data-toggle="modal"
                data-target="#certificateModal1"
                >(view sample)</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
