    <div class="main-wrapper container-fluid p-0 academic-program-wrapper explore-courses-page">

        <div class="banner container-fluid banner-image p-0 bg-white">
            <img src="themes/custom/athena/images/academic-program.png" class="col-lg-12 col-md-12 d-none d-lg-block d-md-block p-0" alt="Banner image">
            <img src="themes/custom/athena/images/about-us-mobile-banner.png" class="col-lg-12 col-md-12 d-sm-block d-lg-none d-md-none p-0" alt="Banner image">
            <div class="container carousel-caption text-left pl-0">
                <h1 class="strong text-secondaryColor banner_title"><span class="" style="color:deeppink">Certification</span> programs</h1>
                <div class="text-secondaryColor banner_text">
                    Microcredentials and programs allow you to pursue further study in a specialised field. Created or accredited by leading universities, microcredentials are professional credentials designed for you to build in-demand .
                </div>
                <div class="row pt-3">
                    <div class="col-md-12">
                        <button class="float-left btn academic-btn btn-outline-violet mr-2">See all Courses</button>
                        <a class="float-left pt-1" href="#">See you course levels ></a>

                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid p-0 academic-bg-wrap pb-3">
            <div class="pt-4 container">
            <div class="how-it-works row">
                <div class="container bg-white shadow-lg rounded-md m-0 mb-4 pl-0">
                    <div class="col-md-12 col-sm-12 text-center">
                        <p class="txt-18 mt-4">How it works?</p>
                        <h3 class="academic-header">Earning a Degree is Simplified With Athena</h3>
                    </div>
                    <div class="row mb-3 academic-card pt-5 pb-5 justify-content-center">
                        <div class="col-md-3 col-sm-12 text-center box">
                            <img class="rounded-circle" src="themes/custom/athena/images/find-program.svg">
                            <h3 class="card-title">Find a Program</h3>
                            <p>Launch party pitch technology user experience innovator buzz stealth MVP business model.</p>
                        </div>
                        <div class="col-md-3 col-sm-12 text-center box">
                            <img class="rounded-circle" src="themes/custom/athena/images/enroll.svg">
                            <h3 class="card-title">Enroll For a Module</h3>
                            <p>Launch party pitch technology user experience innovator buzz stealth MVP business model.</p>
                        </div>
                        <div class="col-md-3 col-sm-12 text-center box">
                            <img class="rounded-circle" src="themes/custom/athena/images/assesment.svg">
                            <h3 class="card-title">Online Assesments</h3>
                            <p>Launch party pitch technology user experience innovator buzz stealth MVP business model.</p>
                        </div>
                        <div class="col-md-3 col-sm-12 text-center box">
                            <img class="rounded-circle" src="themes/custom/athena/images/getdegree.svg">
                            <h3 class="card-title">Get a Degree</h3>
                            <p>Launch party pitch technology user experience innovator buzz stealth MVP business model.</p>
                        </div>
                        </div>
                </div>

                <div class="col-md-12 academic-content p-0 pt-4">
                    <!--Find your course heading and Search course Input: START-->
                    <div class="row pb-4 findCourseInput">
                        <div class="col-12 col-md-6 col-lg-8">
                            <h2 class="title">Find Your Course</h2>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="row bg-white shadow-sm rounded input-area mr-0">
                                <input class="col-8" type="text" placeholder="Keywords / course name" /><button class="col-4 text-right">search <i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <!--Find your course heading and Search course Input: END-->

                    <!--courses List: START-->
                    <div class="row shortterm-courses-area">
                        <div class="col-12 p-0">
                             <div class="shortterm-courses">
                                   <div class="item content">
                                    <div class="course-item-hover" w3-include-html="shortterm-course-hover.html"></div>
                                    <div class="course-item">
                                        <div class="row heading m-0">
                                            <div class="col-8">
                                               <h5>CPD Certified</h5>
                                            </div>
                                            <div class="col-4">
                                               <span class="free-text">Free</span>
                                            </div>
                                        </div>
                                        <div class="image">
                                           <img src="themes/custom/athena/images/course-image2.png" alt="course-image">
                                        </div>
                                        <div class="course-details">
                                           <h3>Master of Business Administration</h3>
                                           <div class="course-info">
                                               Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the dummy text of
                                               the
                                            </div>
                                            <div class="row rating m-0">
                                               <div class="col-6 p-0">
                                                    <div class="my-rating"></div>
                                               </div>
                                               <div class="col-2 p-0">4.5</div>
                                            </div>
                                            <div class="col-12 button-area"><button>Start Now</button></div>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="item content">
                                    <div class="course-item-hover" w3-include-html="shortterm-course-hover.html"></div>
                                    <div class="course-item">
                                        <div class="row heading m-0">
                                            <div class="col-8">
                                               <h5>CPD Certified</h5>
                                            </div>
                                            <div class="col-4">
                                               <span class="free-text">Free</span>
                                            </div>
                                        </div>
                                        <div class="image">
                                           <img src="themes/custom/athena/images/course-image2.png" alt="course-image">
                                        </div>
                                        <div class="course-details">
                                           <h3>Master of Business Administration</h3>
                                           <div class="course-info">
                                               Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the dummy text of
                                               the
                                            </div>
                                            <div class="row rating m-0">
                                             <div class="col-6 p-0">
                                                  <div class="my-rating"></div>
                                             </div>
                                             <div class="col-2 p-0">4.5</div>
                                          </div>
                                           <div class="col-12 button-area"><button>Start Now</button></div>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="item content">
                                    <div class="course-item-hover" w3-include-html="shortterm-course-hover.html"></div>
                                    <div class="course-item">
                                        <div class="row heading m-0">
                                            <div class="col-8">
                                               <h5>CPD Certified</h5>
                                            </div>
                                            <div class="col-4">
                                               <span class="free-text">Free</span>
                                            </div>
                                        </div>
                                        <div class="image">
                                           <img src="themes/custom/athena/images/course-image2.png" alt="course-image">
                                        </div>
                                        <div class="course-details">
                                           <h3>Master of Business Administration</h3>
                                           <div class="course-info">
                                               Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the dummy text of
                                               the
                                            </div>
                                            <div class="row rating m-0">
                                             <div class="col-6 p-0">
                                                  <div class="my-rating"></div>
                                             </div>
                                             <div class="col-2 p-0">4.5</div>
                                          </div>
                                           <div class="col-12 button-area"><button>Start Now</button></div>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="item content">
                                    <div class="course-item-hover" w3-include-html="shortterm-course-hover.html"></div>
                                    <div class="course-item">
                                        <div class="row heading m-0">
                                            <div class="col-8">
                                               <h5>CPD Certified</h5>
                                            </div>
                                            <div class="col-4">
                                               <span class="free-text">Free</span>
                                            </div>
                                        </div>
                                        <div class="image">
                                           <img src="themes/custom/athena/images/course-image2.png" alt="course-image">
                                        </div>
                                        <div class="course-details">
                                           <h3>Master of Business Administration</h3>
                                           <div class="course-info">
                                               Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the dummy text of
                                               the
                                            </div>
                                            <div class="row rating m-0">
                                             <div class="col-6 p-0">
                                                  <div class="my-rating"></div>
                                             </div>
                                             <div class="col-2 p-0">4.5</div>
                                          </div>
                                           <div class="col-12 button-area"><button>Start Now</button></div>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="item content">
                                    <div class="course-item-hover" w3-include-html="shortterm-course-hover.html"></div>
                                    <div class="course-item">
                                        <div class="row heading m-0">
                                            <div class="col-8">
                                               <h5>CPD Certified</h5>
                                            </div>
                                            <div class="col-4">
                                               <span class="free-text">Free</span>
                                            </div>
                                        </div>
                                        <div class="image">
                                           <img src="themes/custom/athena/images/course-image2.png" alt="course-image">
                                        </div>
                                        <div class="course-details">
                                           <h3>Master of Business Administration</h3>
                                           <div class="course-info">
                                               Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the dummy text of
                                               the
                                            </div>
                                            <div class="row rating m-0">
                                             <div class="col-6 p-0">
                                                  <div class="my-rating"></div>
                                             </div>
                                             <div class="col-2 p-0">4.5</div>
                                          </div>
                                           <div class="col-12 button-area"><button>Start Now</button></div>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="item content">
                                    <div class="course-item-hover" w3-include-html="shortterm-course-hover.html"></div>
                                    <div class="course-item">
                                        <div class="row heading m-0">
                                            <div class="col-8">
                                               <h5>CPD Certified</h5>
                                            </div>
                                            <div class="col-4">
                                               <span class="free-text">Free</span>
                                            </div>
                                        </div>
                                        <div class="image">
                                           <img src="themes/custom/athena/images/course-image2.png" alt="course-image">
                                        </div>
                                        <div class="course-details">
                                           <h3>Master of Business Administration</h3>
                                           <div class="course-info">
                                               Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the dummy text of
                                               the
                                            </div>
                                            <div class="row rating m-0">
                                             <div class="col-6 p-0">
                                                  <div class="my-rating"></div>
                                             </div>
                                             <div class="col-2 p-0">4.5</div>
                                          </div>
                                           <div class="col-12 button-area"><button>Start Now</button></div>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="item content">
                                    <div class="course-item-hover" w3-include-html="shortterm-course-hover.html"></div>
                                    <div class="course-item">
                                        <div class="row heading m-0">
                                            <div class="col-8">
                                               <h5>CPD Certified</h5>
                                            </div>
                                            <div class="col-4">
                                               <span class="free-text">Free</span>
                                            </div>
                                        </div>
                                        <div class="image">
                                           <img src="themes/custom/athena/images/course-image2.png" alt="course-image">
                                        </div>
                                        <div class="course-details">
                                           <h3>Master of Business Administration</h3>
                                           <div class="course-info">
                                               Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the dummy text of
                                               the
                                            </div>
                                            <div class="row rating m-0">
                                             <div class="col-6 p-0">
                                                  <div class="my-rating"></div>
                                             </div>
                                             <div class="col-2 p-0">4.5</div>
                                          </div>
                                           <div class="col-12 button-area"><button>Start Now</button></div>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="item content">
                                    <div class="course-item-hover" w3-include-html="shortterm-course-hover.html"></div>
                                    <div class="course-item">
                                        <div class="row heading m-0">
                                            <div class="col-8">
                                               <h5>CPD Certified</h5>
                                            </div>
                                            <div class="col-4">
                                               <span class="free-text">Free</span>
                                            </div>
                                        </div>
                                        <div class="image">
                                           <img src="themes/custom/athena/images/course-image2.png" alt="course-image">
                                        </div>
                                        <div class="course-details">
                                           <h3>Master of Business Administration</h3>
                                           <div class="course-info">
                                               Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the dummy text of
                                               the
                                            </div>
                                            <div class="row rating m-0">
                                             <div class="col-6 p-0">
                                                  <div class="my-rating"></div>
                                             </div>
                                             <div class="col-2 p-0">4.5</div>
                                           </div>
                                           <div class="col-12 button-area"><button>Start Now</button></div>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="item content">
                                    <div class="course-item-hover" w3-include-html="shortterm-course-hover.html"></div>
                                    <div class="course-item">
                                        <div class="row heading m-0">
                                            <div class="col-8">
                                               <h5>CPD Certified</h5>
                                            </div>
                                            <div class="col-4">
                                               <span class="free-text">Free</span>
                                            </div>
                                        </div>
                                        <div class="image">
                                           <img src="themes/custom/athena/images/course-image2.png" alt="course-image">
                                        </div>
                                        <div class="course-details">
                                           <h3>Master of Business Administration</h3>
                                           <div class="course-info">
                                               Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the dummy text of
                                               the
                                            </div>
                                            <div class="row rating m-0">
                                             <div class="col-6 p-0">
                                                  <div class="my-rating"></div>
                                             </div>
                                             <div class="col-2 p-0">4.5</div>
                                           </div>
                                           <div class="col-12 button-area"><button>Start Now</button></div>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="item content">
                                    <div class="course-item-hover" w3-include-html="shortterm-course-hover.html"></div>
                                    <div class="course-item">
                                        <div class="row heading m-0">
                                            <div class="col-8">
                                               <h5>CPD Certified</h5>
                                            </div>
                                            <div class="col-4">
                                               <span class="free-text">Free</span>
                                            </div>
                                        </div>
                                        <div class="image">
                                           <img src="themes/custom/athena/images/course-image2.png" alt="course-image">
                                        </div>
                                        <div class="course-details">
                                           <h3>Master of Business Administration</h3>
                                           <div class="course-info">
                                               Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the dummy text of
                                               the
                                            </div>
                                            <div class="row rating m-0">
                                             <div class="col-6 p-0">
                                                  <div class="my-rating"></div>
                                             </div>
                                             <div class="col-2 p-0">4.5</div>
                                           </div>
                                           <div class="col-12 button-area"><button>Start Now</button></div>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="item content">
                                    <div class="course-item-hover" w3-include-html="shortterm-course-hover.html"></div>
                                    <div class="course-item">
                                        <div class="row heading m-0">
                                            <div class="col-8">
                                               <h5>CPD Certified</h5>
                                            </div>
                                            <div class="col-4">
                                               <span class="free-text">Free</span>
                                            </div>
                                        </div>
                                        <div class="image">
                                           <img src="themes/custom/athena/images/course-image2.png" alt="course-image">
                                        </div>
                                        <div class="course-details">
                                           <h3>Master of Business Administration</h3>
                                           <div class="course-info">
                                               Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the dummy text of
                                               the
                                            </div>
                                            <div class="row rating m-0">
                                             <div class="col-6 p-0">
                                                  <div class="my-rating"></div>
                                             </div>
                                             <div class="col-2 p-0">4.5</div>
                                           </div>
                                           <div class="col-12 button-area"><button>Start Now</button></div>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="item content">
                                    <div class="course-item-hover" w3-include-html="shortterm-course-hover.html"></div>
                                    <div class="course-item">
                                        <div class="row heading m-0">
                                            <div class="col-8">
                                               <h5>CPD Certified</h5>
                                            </div>
                                            <div class="col-4">
                                               <span class="free-text">Free</span>
                                            </div>
                                        </div>
                                        <div class="image">
                                           <img src="themes/custom/athena/images/course-image2.png" alt="course-image">
                                        </div>
                                        <div class="course-details">
                                           <h3>Master of Business Administration</h3>
                                           <div class="course-info">
                                               Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the dummy text of
                                               the
                                            </div>
                                            <div class="row rating m-0">
                                             <div class="col-6 p-0">
                                                  <div class="my-rating"></div>
                                             </div>
                                             <div class="col-2 p-0">4.5</div>
                                           </div>
                                           <div class="col-12 button-area"><button>Start Now</button></div>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="item content">
                                    <div class="course-item-hover" w3-include-html="shortterm-course-hover.html"></div>
                                    <div class="course-item">
                                        <div class="row heading m-0">
                                            <div class="col-8">
                                               <h5>CPD Certified</h5>
                                            </div>
                                            <div class="col-4">
                                               <span class="free-text">Free</span>
                                            </div>
                                        </div>
                                        <div class="image">
                                           <img src="themes/custom/athena/images/course-image2.png" alt="course-image">
                                        </div>
                                        <div class="course-details">
                                           <h3>Master of Business Administration</h3>
                                           <div class="course-info">
                                               Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the dummy text of
                                               the
                                            </div>
                                            <div class="row rating m-0">
                                             <div class="col-6 p-0">
                                                  <div class="my-rating"></div>
                                             </div>
                                             <div class="col-2 p-0">4.5</div>
                                           </div>
                                           <div class="col-12 button-area"><button>Start Now</button></div>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="item content">
                                    <div class="course-item-hover" w3-include-html="shortterm-course-hover.html"></div>
                                    <div class="course-item">
                                        <div class="row heading m-0">
                                            <div class="col-8">
                                               <h5>CPD Certified</h5>
                                            </div>
                                            <div class="col-4">
                                               <span class="free-text">Free</span>
                                            </div>
                                        </div>
                                        <div class="image">
                                           <img src="themes/custom/athena/images/course-image2.png" alt="course-image">
                                        </div>
                                        <div class="course-details">
                                           <h3>Master of Business Administration</h3>
                                           <div class="course-info">
                                               Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the dummy text of
                                               the
                                            </div>
                                            <div class="row rating m-0">
                                             <div class="col-6 p-0">
                                                  <div class="my-rating"></div>
                                             </div>
                                             <div class="col-2 p-0">4.5</div>
                                           </div>
                                           <div class="col-12 button-area"><button>Start Now</button></div>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="item content">
                                    <div class="course-item-hover" w3-include-html="shortterm-course-hover.html"></div>
                                    <div class="course-item">
                                        <div class="row heading m-0">
                                            <div class="col-8">
                                               <h5>CPD Certified</h5>
                                            </div>
                                            <div class="col-4">
                                               <span class="free-text">Free</span>
                                            </div>
                                        </div>
                                        <div class="image">
                                           <img src="themes/custom/athena/images/course-image2.png" alt="course-image">
                                        </div>
                                        <div class="course-details">
                                           <h3>Master of Business Administration</h3>
                                           <div class="course-info">
                                               Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the dummy text of
                                               the
                                            </div>
                                            <div class="row rating m-0">
                                             <div class="col-6 p-0">
                                                  <div class="my-rating"></div>
                                             </div>
                                             <div class="col-2 p-0">4.5</div>
                                           </div>
                                           <div class="col-12 button-area"><button>Start Now</button></div>
                                        </div>
                                     </div>
                                   </div>



                             </div>
                        </div>
                        <div class="col-12 text-center">
                            <button id="loadMore" class="btn athena-btn purple-btn"><a href="http://athena.edu/course-home" style="font-weight:initial;color:inherit;text-decoration:none;">Show More</a></button>
                            <button id="showLess" class="btn athena-btn purple-btn" style="display: none;text-decoration:none;">Show Less</button>
                        </div>

                    </div>
                    <!--courses List: END-->

                </div>
            </div>
        </div>
        </div>

    </div>

    <div w3-include-html="footer.html"></div>

    <script type="text/javascript">
        includeHTML();
        function includeHTML() {
            var z, i, elmnt, file, xhttp;
            /* Loop through a collection of all HTML elements: */
            z = document.getElementsByTagName("*");
            for (i = 0; i < z.length; i++) {
                elmnt = z[i];
                /*search for elements with a certain atrribute:*/
                file = elmnt.getAttribute("w3-include-html");
                if (file) {
                    /* Make an HTTP request using the attribute value as the file name: */
                    xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4) {
                            if (this.status == 200) { elmnt.innerHTML = this.responseText; }
                            if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
                            /* Remove the attribute, and call this function once more: */
                            elmnt.removeAttribute("w3-include-html");
                            includeHTML();
                        }
                    }
                    xhttp.open("GET", file, true);
                    xhttp.send();
                    /* Exit the function: */
                    return;
                }
            }
        }
    </script>
    <script src="jquery.min.js"></script>
    <script src="owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/js/intlTelInput.min.js"></script>
    <script src="bundled.js"></script>
    <script src="jquery.star-rating-svg.min.js"></script>

    <script>
        $(document).ready(function() {


            //TelInput Js Starts //
            $("#phone").intlTelInput();
            $(".selected-flag").after("<div class='country-code' />");
            var CountryCode = $(".country.active .dial-code").text();
            $(".country-code").text(CountryCode);

            $(".country-list").click(function(){
                var CountryCode = $(".country.active .dial-code").text();
                $(".country-code").text(CountryCode);
            });
            //TelInput Js Ends //

            /*
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 0,
                autoWidth: true,
                responsiveClass: true,
                dots: false,
                responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 1,
                    nav: true,
                    loop: false,
                    margin: 0
                }
                }
            })
            */
        })
    </script>

   <!-- GetButton.io widget -->
   <script type="text/javascript">
      //TelInput Js Starts //
      $(".my-rating").starRating({
            emptyColor: 'lightgray',
            hoverColor: '#ffc300',
            activeColor: '#ffc300',
            initialRating: 4.5,
//          strokeColor: '#ffc300',
//            strokeWidth: 6,
            starSize: 20
      });
      //TelInput Js Ends //
   </script>

<script type="text/javascript">
    (function () {
        var options = {
            facebook: "2610140028997323", // Facebook page ID
            whatsapp: "+44 7447 134314", // WhatsApp number
            instagram: "age_athena", // Instagram username
            company_logo_url: "//static.getbutton.io/img/flag.png", // URL of company logo (png, jpg, gif)
            greeting_message: "Hello, how may we help you? Just send us a message now to get assistance.", // Text of greeting message
            call_to_action: "Message us", // Call to action
            button_color: "#FF6550", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "facebook,instagram,whatsapp", // Order of buttons
            ga: true, // Google Analytics enabled
            branding: true, // Show branding string
            mobile: true, // Mobile version enabled
            desktop: true, // Desktop version enabled
            greeting: false, // Greeting message enabled
            shift_vertical: 0, // Vertical position, px
            shift_horizontal: 0, // Horizontal position, px
            domain: "website.athena.edu", // site domain
            key: "w65CtynYQ2eEPebewXlB1w", // pro-widget key
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();


    $(document).ready(function(){
        $(".content").slice(0, 4).show();
        $("#loadMore").on("click", function(e){
        e.preventDefault();
        $(".content:hidden").slice(0, 4).slideDown();
        if($(".content:hidden").length == 0) {
            $("#loadMore").text("No Content").addClass("noContent");
        }
    });

})
</script>
