<div clas="main-wrapper my-container" style="margin-bottom: 100px;position: relative;">
<div class="container">
<div class="row">
<div class="col">
<div class="registeredTitle">You are Successfully Registered</div>
</div>
</div>

<div class="row">
<div class="col">
<div class="registeredDescription">With Athena Global Education<br />
<br />
We appreciate your Interest in {{node.label}} Program<br />
One of our colleagues will get back in touch<br />
with you soon!<br />
<br />
Meanwhile Your 7 Day Trial Has been Activated<br />
&nbsp;</div>
</div>
</div>

<div class="row">
<div class="col registeredDescription"><a href="{{ url('<front>') }}smo/{{node.id}}"<button class="registeredButton">Go to Dashboard</button></a></div>
</div>
</div>
</div>
