<link rel="stylesheet" type="text/css" href="/themes/custom/athena/assets/styles/modules/_subscribePopup.css">

<button id="popBtn" style="display:none;">Pop Up</button>

<div id="register-pop-up" class="modal-reg">
    <div class="pop-up-content">
        <span class="close">&times;</span>
        <div class="content">
            <h2 class="pop-up-heading">Subscribe to our <span class="text-insight">Insights</span></h2>
            <p class="pop-up-para">Want to be notified wen our article is published? Enter
                your email address and name below to be the first to know.</p>
            <div class="input-content">
                <input type="text" id="email" placeholder="Email" class="email-input" required>
                <input type="text" id="name" placeholder="Name" class="name-input" required>
                <button class="submit-input" id="popthnksBtn">SIGNUP FOR THE NEWSLETTER NOW </button>
                <p class="sub-text">Dont’t Worry ! You will not be spammed</p>
            </div>
            <div class="social-content">
                <div class="social-icon-facebook">
                    <p><i class="fab fa-facebook-f"></i></p>
                </div>
                <div class="social-icon-google">
                    <p><i class="fab fa-google"></i></p>
                </div>
                <div class="social-icon-linkin">
                    <p><i class="fab fa-linkedin-in"></i></p>
                </div>
            </div>


        </div>
    </div>
</div>

<div id="thanks-up" class="thanks-modal">
    <div class="pop-up-content-thanks">
        <span class="lclose">&times;</span>
        <div class="thnks-conent">
            <img src="/themes/custom/athena/images/star-insights.svg">
            <h2 class="thanks-head">Thank you for Subscribing !</h2>
            <p class="thanks-para"> You’ve sucessfully subscribed to our <Span> Insights </Span></p>
            <Button class="okay">Okay</Button>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">

    jQuery('document').ready(function() {
        var event = new Event("click");
        popBtn.dispatchEvent(event);
    });

    var modal = document.getElementById("register-pop-up");

    // Get the button that opens the modal
    var btn = document.getElementById("popBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];


    window.onload = function () {
        setTimeout(function () {
            modal.style.display = "block";
        }, 10000);
    }
    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }



    var thnks = document.getElementById("thanks-up");

    // Get the button that opens the modal
    var btn = document.getElementById("popthnksBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("lclose")[0];
    var okay = document.getElementsByClassName("okay")[0];
    // When the user clicks the button, open the modal
    btn.onclick = function () {
        thnks.style.display = "block";

        modal.style.display = "none";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        thnks.style.display = "none";
        modal.style.display = "none";
    }
    // When the user clicks on okay btn, close the modal
    okay.onclick = function () {
        thnks.style.display = "none";
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == thnks) {
            thnks.style.display = "none";
            modal.style.display = "none";
        }
    }
</script>
