@import "~bootstrap/scss/bootstrap";
//@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css");
@import "base/normalize";
@import "base/variables";
@import "base/mixins";
@import "base/global";
@import "base/assets";
@import "base/owlCarouselMin";
@import "base/owlThemeDefaultMin";
@import "modules/wrapper";
@import "modules/menubar";
@import "modules/footer";
@import "modules/topSearchSection";
@import "modules/coursePageBannerSection";
@import "modules/fyiTabs";
@import "modules/overviewPointsCard";
@import "modules/partnersTabs";
@import "modules/admProcess";
@import "modules/admisstionStepsCard";
@import "modules/whyCourse";
@import "modules/courseResourcesCard.scss";
@import "modules/whatLearn";
@import "modules/howLearnSection";
@import "modules/whatYouGetSection";
@import "modules/ourStudentsSaySection";
@import "modules/coursesIntroCard";
@import "modules/courseTeamSection";
@import "modules/courseTeamCard";
@import "modules/courseFaq";
@import "modules/courseBottomBanner";
@import "modules/contactUs";
@import "modules/aboutUs";
@import "modules/homePage";
@import "modules/testimonials";
@import "modules/events";
@import "modules/academicProgram";
@import "modules/searchList";
@import "modules/insight";
@import "modules/university";
@import "modules/login";
@import "modules/courseLoginPage";
@import "modules/smoPage";
@import "modules/affiliatePage";
@import "modules/aboutPopular";
@import "modules/modalPopup";
@import "modules/shorttermcourses";
@import "modules/eventPopup";
// @import "modules/pluginsCustomShortTermCourses";
@import "modules/certificationLevels.scss";
@import "modules/shortcoursesSmo.scss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

a:focus, button:focus, input, input#reg_mobile_num:focus{outline: none;}
#courses-block .owl-nav {
    top: -35px;
}
.views-element-container .testimonials {margin-top: auto;}

.row { width:100%;}

.partners .partner-logos .logo {
    align-items: center;
}

.why-section .main-section .desc p {
      font-weight: normal;
}

img {
    border-style: none;
}
 .insight-thumbnail {
    overflow: hidden;
    position: relative;
    max-height:100px;
    img.thumbnail {position: relative; /* Take your picture out of the flow */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; /* Make the picture taking the size of it's parent */
        width: 100%; /* This if for the object-fit */
        height: 90%; /* This if for the object-fit */
        object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
        object-position: center;
        min-height: 100px;
        max-height: 100px;
        margin-bottom:5px;
        @include atSize700{
            height: auto; /* This if for the object-fit */
            min-height: auto;
            max-height: auto;
        }
    }
 }

/* Comment section */
#node-insight-article-field-comm {font-family: 'Poppins', sans-serif;}
#node-insight-article-field-comm hr {
    margin-top: -0.5rem;
    border-top: 2px solid rgba(0,0,0,0.1);}
#node-insight-article-field-comm > h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #303030;
        margin: 20px 0 5px 0;
        padding-top:10px;
        width: 140px;
        border-bottom: solid 4px #ff008e;
        padding-bottom: 7px;
    }

.by-viewer {padding-bottom:10px; margin-bottom:10px;
.comment-show, .comment-reply {margin: 0 15px; cursor: pointer;}
.btn.btn-link {padding: 0 0.75rem; margin-top: -5px;}
}
.indented {
    position:relative; left: 30px; margin-top:-10px;
    span.comment-show, span.comment-reply, a.btn-link {display:none;}
}
.indented .by-viewer {border-bottom: none;}
div.thumbsup-rating-wrapper > div > div.rating-option-result {padding:0;}
.rate-widget.thumbsup {margin:0 10px; float: left;}
div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label {margin-bottom: 0;}
div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label:before {
    font-size: 1.2em;
    content: "\f08a";
    margin:0 5px;
}
div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label-up.rate-voted:before {
   content: "\f004";
}
.rate-widget.thumbsup:nth-last-child(1) {float:right}
.rate-widget.thumbsup:nth-last-child(1) .rating-option-result {display: none;}
.rate-widget.thumbsup:nth-last-child(1) div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label-up:before {
    content: "\f024";
    margin:0 5px;
}
.rate-widget.thumbsup:nth-last-child(1) div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label.rate-voted:before {
    content: "\f11d";
}
.by-viewer a[rel="bookmark"] {display:none;}
.by-viewer h5.font-medium small.commentemail {font-size: 60%;}
.by-viewer h5.font-medium small.commentdate {font-size: 60%; text-transform: uppercase; color:#919191;}
span.comment-show, .by-viewer .btn-link, .rating-table {color: $titlePink;}
div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label:hover, div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label:active, div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label:focus {
    color: $titlePink;
}
.rating-table {cursor: pointer;}
.js-form-type-textarea.form-item-comment-body-0-value label {display: none;}
.initial {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    line-height: 3;
    position: absolute;
    left: -60px;
    text-align: center;

@media screen and (max-width:800px) {
    position: relative;
    left:-10px;
}}
form.comment-form {
    input[type="text"], input[type="email"], textarea {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    }
}

// #node-insight-article-field-comm .form-actions {text-align: center;}
.js-form-submit.form-submit {
    max-width: 480px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    width: auto;
    padding: 0 20px;
}
.js-ajax-comments-messages {
    color: #000;
    background-color: #50a935;
    border-color: #d6e9c6;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 30px;
}
.field--type-string {
    width: 49%;
    float: left;
    margin: 10px 10px 10px 0;

    @media screen and (max-width:800px) {
        width: 100%;
        float: none;
    }
}

.field--type-email {
    width: 49%;
    float: left;
    margin: 10px 0;

    @media screen and (max-width:800px) {
        width: 100%;
        float: none;
    }
}

.form-email {
    margin-top: .25rem;}

h5.font-medium {font-weight:600; color: #5b1a87}
.cke_reset { height: auto !important;}
.cke_chrome { border:none !important;}
.cke_contents {border: 1px solid #d1d1d1 !important;}

/* Comment section Ends */

/* register section */

.register-wrapper
{
    .nav-pills {
        margin-top:30px;
     li {
        margin-left: -2px;
        min-width: 43%;
        text-align:center
    }

    .nav-link {
        padding: .5rem 2rem;
        border: 1px solid #303030;
        color: #303030;
    }
    li:nth-child(1) .nav-link { border-right:none; border-radius: .25rem 0 0 .25rem;}
    li:nth-child(2) .nav-link { border-left:none; border-radius: 0 .25rem .25rem 0;}
    .nav-link.active, .show>.nav-link {
        color: #fff;
        background-color: $titlePink;
        border-color: $titlePink;
    }
    @media screen and (max-width:540px) {
        .nav-link {
            padding: 0.4rem;
            font-size:12px;
        }
    }
}
    input, select {
        border-radius: 0 !important;
        box-shadow: none !important;
      //  border: none !important;
        border-bottom: solid 1.2px rgba(255, 61, 145, 0);
    }
  
    .intl-tel-input.allow-dropdown {
        border-radius: 0 !important;
        box-shadow: none !important;
        border: none !important;
        border-bottom: solid 1.2px rgba(255, 61, 145, 0) !important;
        background: #fff;
        height: calc(1.5em + 1.25rem + 2px);
    }
    input:focus, select:focus, .intl-tel-input.allow-dropdown:focus {
        border-bottom: solid 1.2px rgb(255, 61, 145) !important;
    }
    
}
.intl-tel-input.allow-dropdown
/* register section Ends */
.get-started button {
    background: transparent;
}

.help-inline-error, .user-login-form .description {color:red; font-size: 14px;}
#reg_mobile_num-error {float:left; margin-bottom:15px;}
#registrationModal  {padding-right:0 !important;}
#block-latestinsightssidebarblock .row {width: auto;}
#block-athena-content img {max-width:100%; min-height:auto;}

.corporate-txt img  {height:auto; max-width:100%;}
//.top-banner .logos {width:auto;}

.mobilePadding{
    @include atSize424{
        //padding-left: 2.0rem !important;
        overflow: hidden;
    }
}

.flx-duration, .error {color:red;}
//.login-details label {display: block; color:red; clear:both;}

.insight-wrapper .insight-cards {
    max-width: 240px;
    margin: 0.5rem;
    width: 90%;
    background: #fff;
    @include atSize424{
        max-width: 100%;
        width:100%;
    }

}

.pagination .page-link { border-radius: 50%; color:#000;}


.pagination .is-active .page-link {
    z-index: 3;
    color: #fff;
    background-color:$titlePink;
    border-color: $titlePink;
}
.page-item:first-child .page-link {
    border-radius:50%;

}

.page-item:last-child .page-link {
    border-radius:50%;

}

.image_icon a[href='#'], a[href='#'] .link_img, .all-courses a[href='#'] {
    pointer-events: none;
}
.terms-label {color:#303030; a {color:#303030;} a:hover {color:#303030;}}
.btn-pink {
    border-radius: 6px;
    box-shadow: 0 2px 25px 2px #d5dbfb;
    background-image: linear-gradient(to right, #ff006e, #ff4e9a 113%, #ffd85e 141%);
    color: #fff;
}

.reg-form .btn-pink, .form-submit {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    box-shadow: 0 2px 25px 2px #d5dbfb;
    background-image: linear-gradient(to right, #ff006e, #ff4e9a 113%, #ffd85e 141%);
    color: #fff;
}

.athena-btn.violet-btn, .btn-primary {
    border-radius: 30px;
    border: solid 2px $titlePink;
    color:$titlePink;
    padding: 5px 20px;
    cursor: pointer;
    outline: none;
    background: transparent;
    width: 213px;
    height: 50px;
}

.athena-btn.violet-btn:hover, .btn-primary:hover {
    color: white !important;
    background: $titlePink;
}
.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
}
.p-0 {padding:0;}
.m-0 {margin:0;}
.ht-5 {height:50px}

#block-whitespaces {display:none;}

.input.error {
    border: none !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1;/* Firefox */
    font-size: 14px;
  }
// #block-coursepagetestimonialsblock .why-athena .testimonials {
//     position: relative;
//     top: 0;
// }

.registeredTitle {
    text-align: center;
    margin: 0 0 2px;
    font-family: Lato;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $titlePink;
}

.registeredDescription{
    text-align: center;
}

.registeredButton{
    width: 185px;
    text-align: center;
    height: 52px;
    padding: 15px 25px 15px 24px;
    border-radius: 12px;
    background-color: #ff006e;
    text-align: center;
    font-weight: bold;
    border: 0px;
    color: white;
}

.copyToClipboard{
    position: relative;
    padding-left: 80px;
    color: #ff0068;
    font-weight: bold;
    @include atSize424{
        text-align: center;
    }
}

.player {max-width:100% !important;}

.bs_grid {background: #eee;
    padding: 15px;
    img {
        border:3px solid $titleYellow;
        border-radius: 50%;
        min-height: 180px;
        max-height: 180px;
        min-width: 180px;
        overflow: hidden;
        object-fit: cover;
    }
    img.linkedin {
        border: none;
        width: 40px;
        min-width:auto;
        position: absolute;
        top: 145px;
        left: 145px;
    }
    .prof-des{
        padding-top:0.9rem !important
      }
      p{
        padding: 0 0 0 30px;

        @include atSize424{
        padding:0px;
    }

      }
}

.iti-flag {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.iti-arrow {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 6px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555;
}
.text-bold {font-weight: 600;}
.share-icon{
    .a2a_kit{
	li {
	margin-bottom: 10px;
}
}}

.show-mobile {display:none;
@media screen and (max-width:600px) {
    display:block;
}
}

.hide-mobile {display:block;
    @media screen and (max-width:600px) {
        display:none;
    }
    }

    .auth-pic {
      .ath-pic img {
        height: 180px;
        width: 180px;
        object-position: 50% 0%;
      }
    }
