$menuColor: #3c3c3c;
$primaryColor: #303030;
$secondaryColor: #606060;
$titleYellow: #ffad00;
$titlePink: #ff026f;
$mainMenuHeight: 2.375rem;
$buttonPink: #ff008e;
$courseTags: #ffcae5;
$knowMoreTag1: #ff006e;
$knowMoreTag2: #ff4e9a;
$knowMoreTag3: #ffd85e;
$border: #e7ebfd;
$itemColor: #630097;
$blogColor: #febe01;
$menuColor: #3c3c3c;
$orangeColor: #febe01;
$purpleColor: #ff0068;
$voilet: #7b00bc;
$primaryWhite: #ffffff;
$blue: #0050a2;
$skyblue: #d8e5ed;
$light-grey: #efefef;
$lt-gray: #ddd;
$background-pale: #f4f8fb;
$boldtext: #e60590;
$button-color: #512da8;
$wt: white;
$bl: black;
$orange: rgb(206, 132, 48);
$lt-gray: #ddd;
$background-pale: #f0f2fe;
$boldtext: rgb(230, 5, 144);
$wt: white;
$bl: black;
$orange: rgb(251, 200, 38);
$highlight-blue: #0095dd;
$skyblue-light: #eff1fe;

$boxshadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.2);
$blog-gradient: linear-gradient(rgba(19, 18, 18, 0.4), rgba(12, 12, 12, 0.4));
$linear1: linear-gradient(rgba(255, 36, 114, 0.8), rgba(255, 36, 114, 0.8));
$linear2: linear-gradient(rgba(129, 48, 174, 0.9), rgba(129, 48, 174, 0.9));
$linear3: linear-gradient(rgba(255, 200, 38, 0.9), rgba(255, 200, 38, 0.9));

$break-small: 600px;



$boxshadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.2);
$blog-gradient: linear-gradient(rgba(19, 18, 18, 0.4), rgba(12, 12, 12, 0.4));
$gradient: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
$brightness: brightness(0.7);

$break-small: 600px;

$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;

$line-height-md: 24px;
$line-height-lg: 26px;
