$menuColor: #3c3c3c;
$primaryColor: #303030;
$secondaryColor: #606060;
$titleYellow: #ffad00;
$titlePink: #ff026f;
$mainMenuHeight: 3.94rem;
$buttonPink: #ff008e;
$courseTags: #ffcae5;
$knowMoreTag1: #ff006e;
$knowMoreTag2: #ff4e9a;
$knowMoreTag3: #ffd85e;
$border: #e7ebfd;
$itemColor: #630097;