$menuColor: #3c3c3c;
$primaryColor: #303030;
$secondaryColor: #606060;
$titleYellow: #ffad00;
$titlePink: #ff026f;
$mainMenuHeight: 3.94rem;
$orangeColor: #febe01;
$purpleColor: #ff0068;
$voilet: #7b00bc;
$primaryWhite: #ffffff;

$font-size-sm : 12px !important;
$font-size-md : 14px !important;
$font-size-lg : 16px !important;


