@import "~bootstrap/scss/bootstrap";
//@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import "base/normalize";
@import "base/variables";
@import "base/mixins";
@import "base/global";
@import "base/assets";
@import "base/owlCarouselMin";
@import "base/owlThemeDefaultMin";
@import "modules/wrapper";
@import "modules/menubar";
@import "modules/footer";
@import "modules/topSearchSection";
@import "modules/coursePageBannerSection";
@import "modules/fyiTabs";
@import "modules/overviewPointsCard";
@import "modules/partnersTabs";
@import "modules/admProcess";
@import "modules/admisstionStepsCard";
@import "modules/whyCourse";
@import "modules/courseResourcesCard.scss";
@import "modules/whatLearn";
@import "modules/howLearnSection";
@import "modules/whatYouGetSection";
@import "modules/ourStudentsSaySection";
@import "modules/coursesIntroCard";
@import "modules/courseTeamSection";
@import "modules/courseTeamCard";
@import "modules/courseFaq";
@import "modules/courseBottomBanner";
@import "modules/contactUs";
@import "modules/aboutUs";
@import "modules/homePage";
@import "modules/testimonials";
@import "modules/events";
@import "modules/academicProgram";
@import "modules/searchList";
@import "modules/insight";
@import "modules/university";
@import "modules/login";
@import "modules/courseLoginPage";
@import "modules/smoPage";
@import "modules/affiliatePage";
@import "modules/aboutPopular";
@import "modules/modalPopup";
@import "modules/shorttermcourses";
@import "modules/eventPopup";
// @import "modules/pluginsCustomShortTermCourses";
 
a:focus, button:focus, input, input#reg_mobile_num:focus{outline: none;}

#courses-block .owl-nav {
    top: -35px;
}
.views-element-container .testimonials {margin-top: auto;}

.row { width:100%;}

.partners .partner-logos .logo {
    align-items: center;
}

.why-section .main-section .desc p {
      font-weight: normal;
}
 
img {
    border-style: none;
}
 .insight-thumbnail {    
    overflow: hidden;
    position: relative;
    max-height:100px;
    img.thumbnail {position: relative; /* Take your picture out of the flow */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; /* Make the picture taking the size of it's parent */
        width: 100%; /* This if for the object-fit */
        height: 90%; /* This if for the object-fit */
        object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
        object-position: center;
        min-height: 100px;
        max-height: 100px;
        margin-bottom:5px;
    }
 }
//  .insights-section .section-items .section-item-two img.thumbnail {  
//     position: relative;
//  } 
// .insights-section .section-items .section-item-two h4 {
//     margin: inherit;
// }
.get-started button {
    background: transparent;
}

.help-inline-error {color:red; font-size: 14px;}
#reg_mobile_num-error {float:left; margin-bottom:15px;}
#registrationModal  {padding-right:0 !important;}
#block-latestinsightssidebarblock .row {width: auto;}
#block-athena-content img {max-width:100%; min-height:auto;}
 
.corporate-txt img  {height:auto; max-width:100%;}
.top-banner .logos {width:auto;}
 
.mobilePadding{
    @include atSize424{
        //padding-left: 2.0rem !important;
        overflow: hidden;
    }
}

.insights-logos {
    border-style: none;
    width: 84px;
    height: 84px;
    border: 1px solid $titleYellow;
    border-radius: 50%;
    padding: 20px 10px;
    display: inline-block;
    text-align: center;
    img {width: 50px;}
}
  
.flx-duration, .error {color:red;}
//.login-details label {display: block; color:red; clear:both;}
 
.insight-wrapper .insight-cards {
    max-width: 240px;
    margin: 0.5rem;
    width: 90%;
    background: #fff;
    @include atSize424{
        max-width: 100%;
        width:100%;
    }
        
} 

.pagination .page-link { border-radius: 50%; color:#000;}
 

.pagination .is-active .page-link {
    z-index: 3;
    color: #fff;
    background-color:$titlePink;
    border-color: $titlePink;
}
.page-item:first-child .page-link {
    border-radius:50%; 
    
}

.page-item:last-child .page-link {
    border-radius:50%;
   
}

.image_icon a[href='#'], a[href='#'] .link_img, .all-courses a[href='#'] { 
    pointer-events: none;
}   
.terms-label {color:#303030; a {color:#303030;} a:hover {color:#303030;}}
.reg-form .btn-pink {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    box-shadow: 0 2px 25px 2px #d5dbfb;
    background-image: linear-gradient(to right, #ff006e, #ff4e9a 113%, #ffd85e 141%);
    color: #fff;
}
.athena-btn.violet-btn, .btn-primary {
    border-radius: 30px;
    border: solid 2px $titlePink;
    color:$titlePink;
    padding: 5px 20px;
    cursor: pointer;
    outline: none;
    background: transparent;
    width: 213px;
    height: 50px;
}

.athena-btn.violet-btn:hover, .btn-primary:hover {
    color: white !important;
    background: $titlePink;
}
.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
} 
.p-0 {padding:0;}
.m-0 {margin:0;}
.ht-5 {height:50px} 
  
#block-whitespaces {display:none;} 

.input.error {
    border: none !important;
}
// #block-coursepagetestimonialsblock .why-athena .testimonials {
//     position: relative;
//     top: 0;
// }

.registeredTitle {
    text-align: center;
    margin: 0 0 2px;
    font-family: Lato;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $titlePink;
}
.registeredDescription{
    text-align: center;
}
.registeredButton{
width: 185px;
text-align: center;
height: 52px;
padding: 15px 25px 15px 24px;
border-radius: 12px;
background-color: #ff006e;text-align: center;font-weight: bold;border: 0px;color: white;
}


.copyToClipboard{
    position: relative;
    padding-left: 80px;
    color: #ff0068;
    font-weight: bold;
    @include atSize424{
        text-align: center;
    }
}

.player {max-width:100% !important;}

.bs_grid {background: #eee;
    padding: 15px;
    img {
        border:3px solid $titleYellow;
        border-radius: 50%;
        max-height: 180px;
        min-width: 180px; 
        overflow: hidden;
        object-fit: cover;
    }
    img.linkedin {
        border: none;
        width: 40px;
        min-width:auto;
        position: absolute;
        top: 145px;
        left: 145px;
    }
}

.iti-flag {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.iti-arrow {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 6px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555;
}