<style>
#block-athena-page-title {display:none}
#block-athena-content {display:none}
#views-exposed-form-testimonial-inside-block-1{display:none}
</style>

  <div class="title">
    <h2>Testimonials</h2>
  </div>


{% for row in rows %}
  <div class="blog-card ">
    {{- row.content -}}
   
  </div>
{% endfor %}

<div><a href="{{ url('<front>') }}insights/testimonials">&lt; Back</a></div>
  

