.fyi-tabs {
    font-size: .875rem;

    .nav {
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        box-shadow: 0 2px 11px 4px rgba(0, 0, 0, 0.08);
        margin: 0 -12px 21px;
        scrollbar-width: none; /* Hide scrollbar Firefox */
        -ms-overflow-style: none; /* Hide scrollbar IE and Edge */

        &::-webkit-scrollbar {
            display: none; /* Hide scrollbar for Chrome, Safari and Opera */
        }

        @include atSize1100 {
            margin: 0 -7rem 40px;
            padding: 0 5.6rem;
        }

        &-item {
            display: inline-block;
        }

        a {
            color: $primaryColor;
            padding: 1.35rem 1.7rem;
            font-weight: bold;
            letter-spacing: .2px;
            position: relative;
            top: -3px;
        }
    }

    &__overview {

        @include atSize1250 {
            display: flex;
        }

        &-list {
            max-width: 670px;

            @include atSize1250 {
                margin-right: 20px;
            }

            ul {
                list-style: none;
                padding: 0;
                margin-bottom: 0;
            }
    
            li {
                line-height: 30px;
                text-indent: 12px;
                position: relative;

                @include atSize1250 {
                    text-indent: 0;
                    padding-left: 25px;
                    font-size: 1rem;
                    line-height: 2.5;
                }
    
                &::before {
                    content: '';
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $titlePink;
                    display: inline-block;
                    left: 0;
                    top: 13px;
                    position: absolute;
                }
    
                span {
                    display: block;
                    text-indent: 0;

                    @include atSize1250 {
                        text-indent: 50px;
                    }
    
                    i {
                        color: $titlePink;
                        font-style: normal;
                    }
                }
            }
    
            p {
                font-weight: bold;
                line-height: 30px;
                margin-bottom: 30px;

                @include atSize1250 {
                    font-size: 1rem;
                    line-height: 2.5;
                }
            }
        }
    }
}