.adm-process {
    background-color: $skyblue;

    .card {
        border-radius: 5.4px;
        box-shadow: 0 2px 23px 2px #d5dbfb;
        background-color: #fff;
        width: 342px;
        height: 191px;
        box-sizing: border-box;
        padding: 12px 17px 24px;
    }
}