.contact-bg-section {
    position: relative;

    &__title {
        font-family: 'Opens Sans', sans-serif;
        font-size: 2.19rem;
        font-weight: bold;
        color: $primaryColor;
        width: 17rem;
        line-height: 1.29;
        margin: 0;
        padding-top: 1.75rem;
        position: relative;

        &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 8px;
            right: -1rem;

            @include atSize700 {
                display: none;
            }
        }

        &::after {
            content: '';
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-image: linear-gradient(88deg, 
            #ffc300 2%, #ffac00 98%, #ffd85e 98%);
            position: absolute;
            top: 13px;
            right: -0.7rem;

            @include atSize700 {
                display: none;
            }
        }

        @include atSize700 {
            font-size: 4rem;
            width: 50rem;
        }

        @include atSize850 {
            padding-top: 4rem;
            line-height: 1.18;
        }

        @include atSize1100 {
            &::before {
                content: '';
                display: inline-block;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                position: absolute;
                top: 8px;
                left: 15rem;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-image: linear-gradient(88deg, 
                #ffc300 2%, #ffac00 98%, #ffd85e 98%);
                position: absolute;
                top: 14.5px;
                left: 15.44rem;
            }
        }

        > span {
            color: $titlePink;
        }
    }

    &__text {
        font-size: .875rem;
        line-height: 1.75;
        margin: .625rem 0 1.25rem;
        width: 18.125rem;
        color: $primaryColor;
        > span {
            color: $titlePink;
        }

        @include atSize700 {
            font-size: 1rem;
            width: 30.5rem;
        }

        @include atSize850 {
            margin: 1.93rem 0;
            line-height: 1.65;
        }

        @include atSize1100 {
            position: relative;

            &::before {
                content: '';
                display: inline-block;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                position: absolute;
                bottom: -105px;
                left: -2.5rem;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-image: linear-gradient(88deg, #9400e2 
                2%, #540081 98%, #ffd85e 98%);
                position: absolute;
                bottom: -100px;
                left: -2.2rem;
            }
        }
    }

    &__search {
        position: relative;
        max-width: 571px;
        margin-bottom: 2.875rem;

        &-input {
            border: none;
            display: block;
            width: 100%;
            height: 50px;
            padding: 15px;
            padding-top: 13px;
            box-sizing: border-box;
            border-radius: 26.5px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11), 0 0 4px 0 rgba(0, 0, 0, 0.14);

            &:focus {
                outline: none;
            }

            &::placeholder {
                font-size: .75rem;
                opacity: .6;
                letter-spacing: .2px;
            }
        }

        &-btn {
            position: absolute;
            top: 0;
            right: 0;
            width: 112px;
            color: $primaryColor;
            font-weight: 700;
            font-size: .875rem;
            height: 42px;
            margin: 4px 5px;
            padding-right: 45px;
            border: none;
            border-radius: 21px;
            background-image: linear-gradient(89deg, #ffc300 0%, #ffac00 100%, #ffd85e 100%);
        }

        .search-icon {
            width: 30px;
            height: 30px;
            display: inline-flex;
            position: absolute;
            top: 9px;
            right: 11px;
            border-radius: 50%;
            background-color: #fff;

            img {
                width: 80%;
                margin: auto;
            }
        }

        &::before {
            content: '';
            display: inline-block;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            position: absolute;
            top: -25px;
            left: 17.14rem;

            @include atSize700 {
                display: none;
            }
        }

        &::after {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-image: linear-gradient(88deg, #ff006e 
            2%, #ff4e9a 98%, #ffd85e 98%);
            position: absolute;
            top: -21.5px;
            left: 17.37rem;

            @include atSize700 {
                display: none;
            }
        }

        @include atSize700 {
            margin-bottom: 4.5rem;
        }

        @include atSize850 {
            margin-bottom: 10rem;
        }

        @include atSize1100 {
            margin-bottom: 12.50rem;

            &::before {
                content: '';
                display: inline-block;
                width: 17px;
                height: 17px;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                position: absolute;
                top: -25px;
                left: 17.14rem;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-image: linear-gradient(88deg, #ff006e 
                2%, #ff4e9a 98%, #ffd85e 98%);
                position: absolute;
                top: -21.5px;
                left: 17.37rem;
            }
        }
    }

    &__background-top-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        display: none;
        background:#EAEDF9;
        @include atSize479{
            display:block;
            min-height:320px;
        }

        span.contactpage-top-banner-image {
            width: 100%;
            display: block;
            position: relative;
            text-align: right;
            img {
                width: 60%;
                margin-top:-29px;
                @include atSize479{
                    display:none;
                }        
            }
        }

        img.contactpage-top-banner-curve{
            position: absolute;
            bottom: 0;
            left: 0;
            transform: scaleX(-1);
            bottom: -3px;
            z-index: 4;
            width: 100%;
        }


        @include atSize850 {
            display: flex;
            justify-content: flex-end;
        }
    }


	&__background-bottom-image {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        display: none;
        background:#EAEDF9;
        @include atSize479{
            display:block;
            min-height:320px;
        }

        span.contactpage-bottom-banner-image {
            width: 100%;
            display: block;
            position: relative;
            text-align: right;
            img {
                width: 60%;
                margin-top:-29px;
                @include atSize479{
                    display:none;
                }        
            }
        }

        img.contactpage-bottom-banner-curve{
            position: absolute;
            top: 0;
            left: 0;
            transform: scaleX(1);
            bottom: -3px;
            z-index: 4;
            width: 100%;
        }
		

        @include atSize850 {
            display: flex;
            justify-content: flex-end;
        }
    }




    &__mobile-background-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        display: flex;
        justify-content: flex-end;

        img {
            width: 100%;
        }

        @include atSize850 {
            display: none;
        }
    }

    @include atSize700 {
        z-index: 15;
    }

    @include atSize1100 {
        &::before {
            content: '';
            display: inline-block;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 36px;
            left: 40rem;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-image: linear-gradient(88deg, #00a1e8 2%, #004fa1 98%);
            position: absolute;
            top: 40.5px;
            left: 40.28rem;
        }
    }
}




	
	.webform-submission-form {.row {width:auto} .col-md-5 {margin: auto;}} 
 
h1.title {  
	font-family: Lato;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff016e;
    padding: 30px 0 10px 0;
    margin: 0;

	// @include atSize700 {
	// 	font-size: 1.25rem;
	// } 
  
	&::after {
		content: none;	
	}
	span { 
		color: #303030;
	}
}

.contact-login-wrapper {
	border-radius: 6px;
	box-shadow: 0 2px 25px 2px #d5dbfb;
	position: relative;
	z-index: 10; 
	background-color: #ffffff;  
  .iti {
	position: relative;
    display: block;
  }
  .form-tel {padding-left:60px;}
  .login-details {
	  padding: 20px 23px;
	  
	  label {display: block; clear:both;}
	  h1 {
		  font-size: 1rem;
		  margin: 0;
		  font-weight: bold;
		  line-height: 1.46;
		  color: $primaryColor;

		//   @include atSize700 {
		// 	  font-size: 1.25rem;
		//   } 
		
		  &::after {
			  content: none;	
		  }
	  }

	  h3 {
		  font-weight: bold;
		  margin-bottom: 5px;
		  font-size: 1.125rem;

		  @include atSize700 {
			  margin-bottom: 15px;
			  font-size: 1.5rem;
		  }

		  span {
			  content: '';
			  width: 43%;
			  height: 0px;
			  display: none;
			  position: absolute;
			  top: 36px;
			  margin-left: 10px;
			  border:none;
			  border-top: solid 4px #ff459a; 
			  
			  @include atSize700 {
				  display: inline-block;
			  }
		  }
	  }

	  p {
		   font-size: .9rem;
		  line-height: 1.65;
		  color: $secondaryColor;
		  margin-bottom: 10px;

		  @include atSize700 {
			  font-size: 1rem;
			  line-height: 1.75;
			  margin-bottom: 16px;
		  }
	  }
	  
	  .login-item {
		  padding: 0 0 10px 0;
		  .webform-flexbox {
			margin: 0 -0.5em;
		  }
		  p {
			  font-size: .9rem;
			  color: $primaryColor;
			  margin: 0 0 7px 2px;
			  
			  @include atSize700 {
				  font-size: 1rem;
			  }
		  }

		  input, select {
			  height: 50px;
			  border-radius: 6px;
			  box-shadow: 0 2px 18px -1px #d5dbfb;
			  border: solid 1.2px rgba(255, 61, 144, 0.18);
			  border: none;
			  background-color: #ffffff;
			  width: 100%;
			  padding: 10px;
			  margin: 4px 0 10px 0; 
			  font-size: 16px;
			  -webkit-appearance: none;
			  
			  &::-webkit-input-placeholder { /* Edge */
				  opacity: .4;
				}
				
			  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
				  opacity: .4;
				}
				
			  &::placeholder {
				  opacity: .4;
				}

			  &:focus {
				  outline: none;
			  }
		  }
	  }

	  .phone-number {
		  input {
			  padding: 10px 55px;
		  }
	  }

	  .names {
		  display: flex;

		  .name-item {
			  flex-direction: row;
			  margin-right: 10px;
			  padding-bottom: 10px;
			  &:nth-last-of-type(1) {
				  margin-right: 0;
			  }

			  input {
				  width: 100%;

			  }
		  }
	  }

	  .button {
		  width: 100%;
		  padding: 10px;
		  label {display: inline; color:#303030;
			  a {color:#303030}
			  }
		  input[type="submit"] {
			  width: 100%;
				height: 50px;
				border-radius: 6px;
				box-shadow: 0 2px 25px 2px #d5dbfb;
				background-image: linear-gradient(to right, #ff006e, #ff4e9a 113%, #ffd85e 141%);
				font-size: 16px;
				color: #ffffff;
				border: none;
			  margin: 22px auto 0;
			  display: block;

			  @include atSize700 {
				  width: 100%;
				  margin-bottom: 28px;
			  }
		  }

		  .form-check-label {
			  color: $secondaryColor;
		  }
	  }
  }

  @media (max-width: 699px) {

	  h3 {
		  width: 100%;
	  }

	  .login-details {

		  .login-item {

			  input, select {
				  width: 100%;
			  }
		  }

		  .names {

			  .name-item {

				  input, select {
					  width: 100%;
				  }
			  }
		  }

		  .button {
			  width: 100%;
		  }
	  }
  }
  .intl-tel-input.allow-dropdown input{
	  width: 82%;
	  background: none;
	  box-shadow: none;
	  height: 44px;

	  @media (max-width: 699px) {
		  float: left !important;
		  margin-left: 116px !important;
		  padding-left: 10px !important;
	  }
  }
}

