.course-login-wrapper {
  	border-radius: 6px;
	box-shadow: 0 2px 25px 2px #d5dbfb;
	position: relative;
	z-index: 10; 
	background-color: #ffffff; 

	@include atSize700 {
		width: 500px;
		height: 750px;
		right: -40px; 
	}
	  
	.login-details {
		padding: 20px 23px;
		label {display: block; color:red; clear:both;}
		h2 {
			font-size: 1rem;
			margin: 0;
			font-weight: bold;
			line-height: 1.46;
			color: $primaryColor;

			@include atSize700 {
				font-size: 1.25rem;
			} 
		  
			&::after {
				content: none;	
			}
		}

		h3 {
			font-weight: bold;
			margin-bottom: 5px;
			font-size: 1.125rem;

			@include atSize700 {
				margin-bottom: 15px;
				font-size: 1.5rem;
			}

			span {
				content: '';
			    width: 43%;
			    height: 0px;
			    display: none;
			    position: absolute;
			    top: 72px;
				margin-left: 10px;
				border:none;
				border-top: solid 4px #ff459a; 
				
				@include atSize700 {
					display: inline-block;
				}
			}
		}

		p {
		 	font-size: .9rem;
			line-height: 1.65;
			color: $secondaryColor;
			margin-bottom: 10px;

			@include atSize700 {
				font-size: 1rem;
				line-height: 1.75;
				margin-bottom: 16px;
			}
		}

		.login-item {
			padding: 10px 0;

			p {
			    font-size: .9rem;
			    color: $primaryColor;
				margin: 0 0 7px 2px;
				
				@include atSize700 {
					font-size: 1rem;
				}
			}

			input, select {
				height: 50px;
			    border-radius: 6px;
			    box-shadow: 0 2px 18px -1px #d5dbfb;
				border: solid 1.2px rgba(255, 61, 144, 0.18);
				border: none;
			    background-color: #ffffff;
			    width: 450px;
			    padding: 10px;
				margin: 0 0 10px 0;
				margin: 0;
				font-size: 16px;
				-webkit-appearance: none;
				
				&::-webkit-input-placeholder { /* Edge */
					opacity: .4;
				  }
				  
				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					opacity: .4;
				  }
				  
				&::placeholder {
					opacity: .4;
				  }

				&:focus {
					outline: none;
				}
			}
		}

		.phone-number {
			input {
				padding: 10px 55px;
			}
		}

		.names {
			display: flex;

			.name-item {
				flex-direction: row;
				margin-right: 10px;

				// &:nth-last-of-type(1) {
				// 	margin-right: 0;
				// }

				// @include atSize700 {
				// 	margin-right: 0;
				// }

				input {
					width: 219px;
 
				}
			}
		}

		.button {
			width: 100%;
			text-align: left;
			padding: 10px 30px;
			label {display: inline-block; color:#303030;
				a {color:#303030}
				}
			button {
				width: 100%;
			  	height: 50px;
			  	border-radius: 6px;
			  	box-shadow: 0 2px 25px 2px #d5dbfb;
			  	background-image: linear-gradient(to right, #ff006e, #ff4e9a 113%, #ffd85e 141%);
			  	font-size: 16px;
			  	color: #ffffff;
			  	border: none;
				margin: 22px auto 0;
				display: block;

				@include atSize700 {
					width: 347px;
					margin-bottom: 28px;
				}
			}

			.form-check-label {
				color: $secondaryColor;
			}
		}
	}

	@media (max-width: 699px) {

		h3 {
			width: 100%;
		}

		.login-details {

			.login-item {

				input, select {
					width: 100%;
				}
			}

			.names {

				.name-item {

					input, select {
						width: 100%;
					}
				}
			}

			.button {
				width: 100%;
			}
		}
	}
	.intl-tel-input.allow-dropdown input{
		width: 82%;
		background: none;
		box-shadow: none;
		height: 44px;

		@media (max-width: 699px) {
			float: left !important;
			margin-left: 116px !important;
			padding-left: 10px !important;
		}
	}
}

