.course-team {
    padding-top: 21px;
    padding-bottom: 53px;
    background-color: #eff1fe;
    position: relative;
    overflow: hidden;

    @include atSize850 {
        padding-top: 24px;
        padding-bottom: 68px;
    }

    .wrapper {
        padding: 0;

        @include atSize480 {
            padding: 0 12px;
        }

        @include atSize1100 {
            padding: 0 4rem;
        }
    }

    h2 {
        font-size: 1.75rem;
                display: inline-block;
                color: $primaryColor;
                font-weight: bold;
                letter-spacing: .3px;
                margin-bottom: 30px;
                position: relative;
                text-align: center;

                @include atSize850 {
                    font-size: 2rem;
                    text-align: left; 
                }

                &::after {
                    content: '';
                    display: block;
                    width: 32%;
                    height: 3.5px;
                    border-radius: 1.5px;
                    background-color: $titlePink;
                    position: absolute;
                    left: -3px;
                }
    }

    .owl-stage-outer {
        margin-bottom: 15px;
    }

    .owl-nav {
        position: absolute;
        top: -85px;
        right: 0;
        display: none;

        @include atSize850 {
            display: block;
        }
    }

    button.owl-prev {
        background: url('images/coursepage/previous.svg') no-repeat !important;
        width: 50px !important;
        height: 27px !important;
        position: relative;
        top: 2px;
        margin-right: 36px !important;
        transition: width .2s ease-out;

        &:focus {
            outline: none;
        }

        &.disabled {
            width: 31px !important;
        }

        span {
            display: none;
        }
    }

    button.owl-next {
        background: url('images/coursepage/previous.svg') no-repeat !important;
        width: 50px !important;
        height: 27px !important;
        transform: rotate(180deg);
        transition: width .2s ease-out;

        &:focus {
            outline: none;
        }

        &.disabled {
            width: 31px !important;
        }

        span {
            display: none;
        }
    }

    .button {
        color: $titlePink;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        width: 213px;
        height: 50px;
        border: solid 2px $titlePink;
        border-radius: 25px;
        line-height: 46px;
        display: block;
        text-align: center;
        margin: 40px auto 0;
        display: none;
    }
}