
.main-wrapper {
	/*background-color: rgba(239, 241, 254, 0.5);*/
}

.footer {
	a {
		color: $secondaryColor;
	}

	.new-footer {
		padding: 50px 0;
		.right-border {
			border : none;

			@include atSize700 { 
				border-right: 1px solid #dee2e6;
			}
			@include atSize1350 { 
				border-right: 1px solid #dee2e6;
			}
		}
	}

	.social-icons {
		img {
			width : 40px;
			height : 40px;
		}
	}

	.violet-btn {
		border-color: $voilet;
		border-radius: 20px;
		color: $voilet;
	}
	.addPadding{
		margin-top: 20px;;
	}
}