.footer {
	a {
		color: $secondaryColor;
	}

	.new-footer {
		.right-border {
			border : none;

			@include atSize700 { 
				border-right: 1px solid #dee2e6;
			}
			@include atSize1350 { 
				border-right: 1px solid #dee2e6;
			}
		}
	}

	.social-icons {
		img {
			width : 40px;
			height : 40px;
		}
	}

	.violet-btn {
		border-color: $voilet;
		border-radius: 20px;
		color: $voilet;
	}
}