.explore-courses {
	text-align: center;
	.tabs {
		display: flex;
	    margin: 30px auto;
	    height: 78px;
	    align-items: center;
	    border-bottom: solid 3px $border;
	    width: 784px;
	    @include atSize424 {
    		width: 100%
    	}
		.tab-item {
			flex: 1;
  			font-size: 18px;
  			font-weight: 500;
  			color: $buttonPink;
		}
	}
	.courses-offered {
		display: flex;
		margin: 0 30px;
		@include atSize424 {
    		flex-direction: column;
    	}
		.info {
			flex: 0.5;
			text-align: left;
			h2 {
				font-size: 32px;
			  	font-weight: bold;			  	
			  	color: $primaryColor;
			}
			p {
				font-size: 16px;
			  	color: $secondaryColor;
			}
			button {
				border-radius: 30px;
  				border: solid 2px $buttonPink;
  				color: $buttonPink;
  				padding: 5px 10px;
  				cursor: pointer;
  				outline: none;
  				background: white;
			}
		}
		.courses {
			flex: 1;
			.course-list {
				margin: 20px 10px;
				display: flex;
				@include atSize424 {
					flex-direction: column;
				}
				.course-item {
					width: 350px;
			  		height: 402px;
			  		border-radius: 6px;
			  		box-shadow: 0 2px 25px 2px #d5dbfb;
			  		background-color: #ffffff;
			  		position: relative;
			  		margin: 0 10px;
			  		@include atSize424 {
			  			margin: 20px 0;
			  			left: -30px;
			  		}
			  		.image {
			  			position: relative;
			  			img {
			  				width: 350px;
			  				height: 165px;
			  			}
			  		}
			  		.course-details {
			  			width: 331px;
					  	height: 146px;
					  	border-radius: 6px;
					  	box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.19);
					  	background-color: #ffffff;
					  	position: absolute;
					  	top: 90px;
					  	left: 10px;
					  	.course-tags {
					  		width: 315px;
						  	height: 30px;
						  	border-radius: 3px;
						  	background-color: $courseTags;
						  	margin: 0 10px;
						  	p {
							  font-size: 14px;
							  color: $primaryColor;
							  padding: 7px;
							  span {
							  	color: white;
							  	padding: 0 5px;
							  }
						  	}
					  	}
					  	h1 {
					  		font-size: 18px;
					    	font-weight: bold;
					    	color: $primaryColor;
					    	margin: 10px 0 0 5px;
					    	text-align: left;
					    	padding-left: 20px;
					  	}
					  	h2 {
					  		font-size: 14px;
  							color: $buttonPink;
  							margin: 5px 0;
  							text-align: left;
					    	padding-left: 24px;
					  	}
					  	h3 {
							font-size: 14px;
  							color: $primaryColor;
  							text-align: left;
    						padding-left: 24px;
  							span {
  								font-weight: bold;
  							}
					  	}
			  		}
			  		.course-info {
			  			margin: 100px 15px 0 15px;
			  			font-size: 14px;
			  			text-align: left;
  						color: $secondaryColor;
  						span {
  							color: $buttonPink;
  							cursor: pointer;
  						}
			  		}
			  		.know-more {
			  			width: 113px;
					    height: 44px;
					    border-radius: 100px 0px 0 100px;
					    background-image: linear-gradient(89deg, $knowMoreTag1 0%, $knowMoreTag2 100%, $knowMoreTag3 100%);
					    float: right;
					    margin: 10px 0;
					    p {
					    	color: white;
    						margin: 10px 0;
					    }
			  		}
				}
			}
		}
	}
}

.why-athena {
	display: flex;
	.athena-background-image {
		width: 100%;
		position: absolute;
		img {
			width: 100%;
			position: absolute;
			top: 117px;
		}
	}
	.athena-section {
		display: flex;
		width: 100%;
		margin: 83px 0;
		@include atSize424 {
			flex-direction: column;
			width: 100%;
		}
		.why-athena-item-one {
			z-index: 10;
			flex: 1.4;
			padding: 5px 0 0 30px;
			.info {
				.info-item {
					.item {
						img {
							position: relative;
							top: 49px;
							left: -20px;
						}
						p {
							font-size: 16px;
						  	color: $primaryColor;
						  	list-style-type:none;
						  	padding-left: 48px;
						}
						span {
							font-size: 17px;
						  	font-weight: bold;
						  	color: $itemColor;
						}
					}
				}
			}
		}
		.why-athena-item-two {
			flex: 0.6;
			z-index: 10;
			img {
				position: relative;
			    top: 120px;
			    right: -32px;
			    @include atSize424 {
			    	top: 0;
					right: 0;
					width: 100%;
					margin: 35px auto;
			    }
			}
		}
	}
	.get-started {
		width: 95%;
		text-align: center;
		position: absolute;
		button {
			border-radius: 30px;
  			border: solid 2px $titlePink;
  			color: $titlePink;
  			padding: 5px 20px;
  			cursor: pointer;
  			background: white;
  			outline: none;
		}
	}
	.testimonials {
		position: relative;
		top: 30px;
	}
}

.partners {
	margin: 0 30px;
	.info {
		width: 440px;
		@include atSize424 {
			width: 100%;
		}
		h1 {
			/*background: -webkit-linear-gradient(#222, #999);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;*/
		    font-size: 50px;
		    margin: 10px 0;
		    color: $primaryColor;
		}
		h2 {
			font-size: 42px;
	  		font-weight: bold;
	  		color: $primaryColor;
	  		margin: 0;
		}
		h3 {
			font-size: 16px;
	  		color: $primaryColor;
	  		margin: 0;
		}
	}
	.partner-logos {
		display: flex;
		flex-direction: row;
		margin: 30px 0;
		@include atSize424 {
			flex-direction: column;
		}
		.logo {
			width: 301px;
			margin: 0 14px;
		  	height: 226px;
		  	border-radius: 6px;
		  	box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.08), 0 2px 21px 2px rgba(213, 219, 251, 0.83);
		  	background-color: #ffffff;
		  	justify-content: center;
		  	display: flex;
		  	@include atSize424 {
				margin: 20px auto;
				width: 100%;
			}
		}
	}
}