.site-header {
    background-color: #fff;
    position: relative;
    z-index: 30;

    .wrapper {
        display: flex;
        height: $mainMenuHeight;
        align-items: center;
        position: relative;
        padding-top: 25px;

        @include atSize850 {
            height: 4.56rem;
        }
    }

    &__logo {
        width: 95px;
        margin-right: 1.375rem;

        img {
            width: 100%;
            display: inline-block;
        }

        @include atSize700 {
            
        }

        @include atSize850 {
            width: 145px;
            margin-right: 1.8rem;
        }
    }

    &__explore-btn {
        background-image: linear-gradient(89deg, #ff006e 0%, 
        #ff4e9a 100%, #ffd85e 100%);
        display: inline-flex;
        border-radius: 5px;
        padding: 0 9px;
        height: 35px;
        justify-content: space-evenly;
        align-items: center;
        position: relative;

        > a {
            text-decoration: none;
            font-size: .875rem;
            font-weight: 700;
            color: #fff;
            width: 50px;
            height: 22px;
            display: inline-block;
            overflow: hidden;
            margin-right: 14px;
            margin-top: -2px;

            i {
                position: absolute;
                top: 12px;
                right: 10px;

                @include atSize850 {
                    top: 15px;
                    right: 15px;
                }
            }

            @include atSize850 {
                width: 132px;
                margin-right: 9px;
                font-size: 1rem;
                margin-top: -4px;
                letter-spacing: .3px;
                overflow: visible;
            }
        }

        @include atSize850 {
            height: 40px;
            padding: 0 12px;
        }
    }

    &__menu-icon {
        width: 26px;
        height: 19px;
        position: absolute;
        right: 20px;
        z-index: 100;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 26px;
            height: 2px;
            background-color: rgba(0 ,0, 0, 0.5);
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }
      
         &__middle {
            position: absolute;
            top: 9px;
            left: 0;
            width: 26px;
            height: 2px;
            background-color: rgba(0 ,0, 0, 0.5);
            transition: all .3s ease-out;
        }
      
        &::after {
            content: "";
            position: absolute;
            top: 18px;
            left: 0;
            width: 26px;
            height: 2px;
            background-color: rgba(0 ,0, 0, 0.5);
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        &--close-x {

            &::before {
                transform: rotate(45deg);
            }

            .site-header__menu-icon__middle {
                opacity: 0;
                transform: scaleX(0);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }

        @include atSize700 {
            display: none;
        }
    }

    &__menu-content {
        opacity: 0;
        transform: scaleY(.5);
        transform-origin: 0 0;
        transition: all .3s ease-out;
        position: relative;
        z-index: -10;
        position: absolute;
        top: 63px;
        background-color: #fff;
        left: 0;
        width: 100%;
        box-shadow: 0 2px 13px 0 #8c8c8c;

        &--is-visible {
            opacity: 1;
            z-index: 5;
            transform: scaleY(1);
        }

        @include atSize700 {
            opacity: 1;
            z-index: 5;
            transform: scale(1);
            position: static;
            box-shadow: none;
            height: 100%;
        }
    }
}

.primary-nav {

    >ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;

        >li {
            position: relative;
            border-bottom: .5px solid #ddd;

            &:nth-last-child(1) {
                border-bottom: none;
                font-weight: bold;
            }

            &:nth-last-child(2) {
                font-weight: bold;
            }

            @include atSize700 {
                border-bottom: none;

                &:nth-last-child(1) {
                    position: relative;
                }
            }
        }

        .about {

            i {
                width: 12.5px;
                height: 12.5px;
                position: relative;
                top: -2px;
                border-color: #979797;
                margin-left: 13px;
                transition: transform .2s ease-out;
                transform-origin: center center;
            }

            @include atSize700 {

                &:hover {

                    i {
                        transform: rotate(225deg);
                        top: 2px;
                    }

                    .secondary-nav {
                        transform: scaleY(1);
                    }
                }
            }
        }

        .secondary-nav {
            display: none;
            list-style: none;
            padding: 0;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 2px 25px 2px #d5dbfb;
            padding-top: 6px;
            padding-bottom: 6px;
            transform-origin: 0 0;
            transition: transform .2s ease-out;

            a {
                white-space: nowrap;
                font-size: .875rem;
                width: 100%;
                padding-left: 1.6rem;
                padding-right: 1.75rem;

                &:hover {
                    color: $titlePink;
                    font-weight: bold;
                }
            }

            &.show {
                display: block;
            }

            @include atSize700 {
                right: -20px;
                position: absolute;
                transform: scaleY(0);
                display: block;
                width: 245px;
            }
        }

        @include atSize700 {
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            height: 100%;
        }
    }

    a {
        text-decoration: none;
        color: $menuColor;
        font-size: .875rem;
        display: block;
        padding: 1.2rem 0;
        transition: background-color .3s ease-out;
        position: relative;

        &:hover {
            background-color: #eff1fe;
        }

        @include atSize700 {
            padding: 1rem 1rem;
            display: inline-flex;
            height: 100%;
            box-sizing: border-box;
            align-items: center;
        }

        @include atSize850 {
            font-size: 1rem;
        }
    }

    @include atSize700 {
        margin-left: 3rem;
        height: 100%;
    }

    @include atSize1100 {
        margin-left: 11rem;
    }
}

.top-gap {
    height: 25px;
    width: 100%;
    background-color: #fff;
}