.close-modal{
    position: relative;
    right: 10px;
    top: 6px;
    background: lightgrey !important;
    border-radius: 60px;
    padding-left: 5px !important;
    padding-right: 5px !important;
}