.wrapper {
    padding: 0 12px;
    box-sizing: border-box;
    max-width: 1170px;
    margin: 0 auto;

    @include atSize1100 {
        padding: 0 4rem;
    }

    @include atSize1250 {
        padding: 0;
    }
}