{% if label_hidden %}
  {% if multiple %}
      {% for item in items %}
        {{ item.content }}

      {% endfor %}
        </small></h5>
    
  {% else %}
    {% for item in items %}
      {{ item.content }}

    {% endfor %}
      </small></h5>

  {% endif %}

{% else %}
    {% if multiple %}
      
    {% endif %}
    {% for item in items %}
      
      {{ item.content }}

    
    {% endfor %}
      </small></h5>

    {% if multiple %}
      
    {% endif %}

{% endif %}