{% if output is not empty and output is not null %}
    <div class="photo">
        <a target="_blank" class="linkedin" href="{{ output -}}"><i class="fa fa-linkedin fa-fw"></i></a>
    </div>
{% endif %}

</div>
